Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-pyproject-toml

Path conditions:
  check-regex-patterns: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-print-statements: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|setup.py|scripts/|debug_auth_flow.py|debug_openapi_auth.py|apisix/configure_gateway_auth.py|diagnose_user_context.py|app/core/security_check.py|app/services/pyrit_orchestrator_service.py|safe_comprehensive_fix.py|violentutf/utils/logging.py|violentutf_api/fastapi_app/diagnose_user_context.py|violentutf_api/fastapi_app/app/core/security_check\.py|violentutf_api/fastapi_app/verify_redteam_install\.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-hardcoded-secrets: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|ai-tokens.env.sample|violentutf_api/fastapi_app/app/api/endpoints/auth.py|violentutf_api/fastapi_app/app/api/endpoints/generators.py|violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py|violentutf/pages/Simple_Chat.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-pyproject-toml: any of: ^pyproject\.toml$

Implement #323
  .gitignore
  .pre-commit-config.yaml
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  apisix/docker-compose.yml
  docs/development/issue_323/implementation_summary.md
  pyproject.toml
  reports/pyrit_api_compatibility.md
  reports/pyrit_api_compatibility_analysis.json
  reports/pyrit_sqlite_performance_benchmarks.json
  scripts/migration-management/analyze_pyrit_api_changes.py
  scripts/migration-management/benchmark_sqlite_memory.py
  tests/migration_tests/__init__.py
  tests/migration_tests/test_pyrit_sqlite_compatibility.py
Due: check-regex-patterns, no-hardcoded-secrets, check-pyproject-toml

Fixed failed tests for #323
  docs/development/issue_323/CRITICAL_PYRIT_SINGLETON_BUG.md
  tests/migration_tests/test_pyrit_sqlite_compatibility.py
Due: none

Implement #322 (#329)
  docs/development/issue_322/BACKUP_PROCEDURES.md
  docs/development/issue_322/ISSUE_322_development_report.md
  docs/development/issue_322/issue_322_plan.md
  reports/backup_verification.txt
  reports/duckdb_inventory.json
  reports/restoration_test_results.json
  scripts/migration-management/analyze_duckdb_inventory.py
  scripts/migration-management/backup_duckdb_files.sh
  scripts/migration-management/test_backup_restoration.py
  scripts/migration-management/verify_backup_integrity.sh
Due: check-regex-patterns, no-hardcoded-secrets

Issue #323 (#330)
  .gitignore
  .pre-commit-config.yaml
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  apisix/docker-compose.yml
  docs/development/issue_323/CRITICAL_PYRIT_SINGLETON_BUG.md
  docs/development/issue_323/implementation_summary.md
  pyproject.toml
  reports/pyrit_api_compatibility.md
  reports/pyrit_api_compatibility_analysis.json
  reports/pyrit_sqlite_performance_benchmarks.json
  scripts/migration-management/analyze_pyrit_api_changes.py
  scripts/migration-management/benchmark_sqlite_memory.py
  tests/migration_tests/__init__.py
  tests/migration_tests/test_pyrit_sqlite_compatibility.py
Due: check-regex-patterns, no-hardcoded-secrets, check-pyproject-toml

Implement #324
  tests/unit/services/__init__.py
  tests/unit/services/test_issue_324_pyrit_memory_bridge.py
  violentutf_api/fastapi_app/app/services/pyrit_memory_bridge.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Create ISSUE_324_development_report.md
  docs/development/issue_324/ISSUE_324_development_report.md
Due: none

Implement Issue #324 (#331)
  docs/development/issue_324/ISSUE_324_development_report.md
  tests/unit/services/__init__.py
  tests/unit/services/test_issue_324_pyrit_memory_bridge.py
  violentutf_api/fastapi_app/app/services/pyrit_memory_bridge.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement 3325
  scripts/migration-management/migrate_config_to_sqlite.py
  scripts/migration-management/validate_config_migration.py
  tests/test_sqlite_manager.py
  violentutf_api/fastapi_app/app/db/sqlite_manager.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #332
  scripts/migration-management/migrate_config_to_sqlite.py
  scripts/migration-management/validate_config_migration.py
  tests/test_sqlite_manager.py
  violentutf_api/fastapi_app/app/db/sqlite_manager.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #326
  docs/development/issue_326/testresults.md
  tests/issue_326_tests.md
  tests/test_issue_326_import_migration.py
  violentutf/requirements.txt
  violentutf_api/fastapi_app/app/api/endpoints/converters.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/api/endpoints/generators.py
  violentutf_api/fastapi_app/app/api/endpoints/scorers.py
  violentutf_api/fastapi_app/app/api/endpoints/sessions.py
  violentutf_api/fastapi_app/app/services/dataset_integration_service.py
  violentutf_api/fastapi_app/app/services/generator_integration_service.py
  violentutf_api/fastapi_app/diagnose_user_context.py
  violentutf_api/fastapi_app/requirements.txt
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #326 (#333)
  docs/development/issue_326/testresults.md
  tests/issue_326_tests.md
  tests/test_issue_326_import_migration.py
  violentutf/requirements.txt
  violentutf_api/fastapi_app/app/api/endpoints/converters.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/api/endpoints/generators.py
  violentutf_api/fastapi_app/app/api/endpoints/scorers.py
  violentutf_api/fastapi_app/app/api/endpoints/sessions.py
  violentutf_api/fastapi_app/app/services/dataset_integration_service.py
  violentutf_api/fastapi_app/app/services/generator_integration_service.py
  violentutf_api/fastapi_app/diagnose_user_context.py
  violentutf_api/fastapi_app/requirements.txt
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #327
  precommit_cache.txt
  reports/migration_validation_20251005_191347.json
  reports/migration_validation_20251005_191347.txt
  reports/migration_validation_20251005_192820.json
  reports/migration_validation_20251005_192820.txt
  scripts/migration-management/validate_migration_complete.py
  tests/migration_tests/test_integration_sqlite.py
  tests/migration_tests/test_performance_comparison.py
  tests/test_pyrit_memory_bridge.py
Due: check-regex-patterns, no-hardcoded-secrets

Delete precommit_cache.txt
  precommit_cache.txt
Due: none

Implement Issue #327 (#334)
  reports/migration_validation_20251005_191347.json
  reports/migration_validation_20251005_191347.txt
  reports/migration_validation_20251005_192820.json
  reports/migration_validation_20251005_192820.txt
  scripts/migration-management/validate_migration_complete.py
  tests/migration_tests/test_integration_sqlite.py
  tests/migration_tests/test_performance_comparison.py
  tests/test_pyrit_memory_bridge.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #328
  README.md
  docs/adr/002-duckdb-deprecation-strategy.md
  docs/adr/003-sqlite-alignment-strategy.md
  docs/database/architecture-overview.md
  docs/deployment/sqlite-deployment.md
  docs/development/issue_328/issue_328_plan.md
  docs/development/issue_328/testresults.md
  scripts/migration-management/monitor_production_health.sh
  tests/smoke_tests/__init__.py
  tests/smoke_tests/test_api_health.py
  tests/smoke_tests/test_database_connectivity.py
  tests/test_monitor_production_health.sh
  tests/test_smoke_tests.py
Due: none

Implement #328 (#338)
  README.md
  docs/adr/002-duckdb-deprecation-strategy.md
  docs/adr/003-sqlite-alignment-strategy.md
  docs/database/architecture-overview.md
  docs/deployment/sqlite-deployment.md
  docs/development/issue_328/issue_328_plan.md
  docs/development/issue_328/testresults.md
  scripts/migration-management/monitor_production_health.sh
  tests/smoke_tests/__init__.py
  tests/smoke_tests/test_api_health.py
  tests/smoke_tests/test_database_connectivity.py
  tests/test_monitor_production_health.sh
  tests/test_smoke_tests.py
Due: none

Implement issue #270
  .gitignore
  configs/monitoring/alert_rules.yaml
  docs/development/issue_270/check_services_integration.md
  docs/development/issue_270/issue_270_plan.md
  tests/issue_270_tests.md
  tests/test_issue_270_anomaly_detector.py
  tests/test_issue_270_api_endpoints.py
  tests/test_issue_270_baseline_analyzer.py
  tests/test_issue_270_monitoring_service.py
  tests/test_issue_270_postgres_metrics.py
  tests/test_issue_270_sqlite_metrics.py
  violentutf_api/fastapi_app/app/api/v1/monitoring.py
  violentutf_api/fastapi_app/app/monitoring/database/__init__.py
  violentutf_api/fastapi_app/app/monitoring/database/alert_rules.py
  violentutf_api/fastapi_app/app/monitoring/database/anomaly_detector.py
  violentutf_api/fastapi_app/app/monitoring/database/baseline_analyzer.py
  violentutf_api/fastapi_app/app/monitoring/database/baseline_job.py
  violentutf_api/fastapi_app/app/monitoring/database/monitoring_service.py
  violentutf_api/fastapi_app/app/monitoring/database/postgres_metrics.py
  violentutf_api/fastapi_app/app/monitoring/database/sqlite_metrics.py
  violentutf_api/fastapi_app/app/schemas/monitoring_schemas.py
  violentutf_api/fastapi_app/app/services/monitoring/monitoring_service.py
  violentutf_api/fastapi_app/configs/monitoring/alert_rules.yaml
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #270 (#340)
  .gitignore
  configs/monitoring/alert_rules.yaml
  docs/development/issue_270/check_services_integration.md
  docs/development/issue_270/issue_270_plan.md
  tests/issue_270_tests.md
  tests/test_issue_270_anomaly_detector.py
  tests/test_issue_270_api_endpoints.py
  tests/test_issue_270_baseline_analyzer.py
  tests/test_issue_270_monitoring_service.py
  tests/test_issue_270_postgres_metrics.py
  tests/test_issue_270_sqlite_metrics.py
  violentutf_api/fastapi_app/app/api/v1/monitoring.py
  violentutf_api/fastapi_app/app/monitoring/database/__init__.py
  violentutf_api/fastapi_app/app/monitoring/database/alert_rules.py
  violentutf_api/fastapi_app/app/monitoring/database/anomaly_detector.py
  violentutf_api/fastapi_app/app/monitoring/database/baseline_analyzer.py
  violentutf_api/fastapi_app/app/monitoring/database/baseline_job.py
  violentutf_api/fastapi_app/app/monitoring/database/monitoring_service.py
  violentutf_api/fastapi_app/app/monitoring/database/postgres_metrics.py
  violentutf_api/fastapi_app/app/monitoring/database/sqlite_metrics.py
  violentutf_api/fastapi_app/app/schemas/monitoring_schemas.py
  violentutf_api/fastapi_app/app/services/monitoring/monitoring_service.py
  violentutf_api/fastapi_app/configs/monitoring/alert_rules.yaml
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Complete issue #270
  .gitignore
  configs/monitoring/alertmanager.yml
  configs/monitoring/grafana-dashboards.yml
  configs/monitoring/grafana-datasources.yml
  configs/monitoring/prometheus.yml
  dashboards/database_overview.json
  dashboards/postgresql_performance.json
  dashboards/sqlite_performance.json
  docker-compose.monitoring.yml
  scripts/monitoring-setup/README.md
  scripts/monitoring-setup/configure_dashboards.py
  scripts/monitoring-setup/establish_baselines.py
  scripts/monitoring-setup/setup_performance_monitoring.py
  tests/issue_270_tests.md
  violentutf_api/fastapi_app/tests/test_runner_assets.py
Due: check-regex-patterns, no-hardcoded-secrets

Bug fix
  .github/workflows/config-validation.yml
  violentutf_api/fastapi_app/app/testing/ui_performance.py
  violentutf_api/fastapi_app/app/testing/workflow_usability.py
Due: check-github-actions

Fix bugs
  violentutf_api/fastapi_app/app/testing/__init__.py
  violentutf_api/fastapi_app/app/testing/concurrent_performance.py
  violentutf_api/fastapi_app/app/testing/error_ux.py
  violentutf_api/fastapi_app/app/testing/load_tester.py
  violentutf_api/fastapi_app/app/testing/multi_user_performance.py
  violentutf_api/fastapi_app/app/testing/scalability.py
  violentutf_api/fastapi_app/app/testing/scalability_tester.py
  violentutf_api/fastapi_app/app/testing/stress_testing.py
Due: none

fix failed tests
  violentutf_api/fastapi_app/app/db/migrations/add_asset_management_tables.py
  violentutf_api/fastapi_app/app/db/migrations/add_dependency_mapping_tables.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Update .flake8
  .flake8
Due: none

Fix failed tests
  violentutf/utils/template_engine.py
  violentutf_api/fastapi_app/app/api/endpoints/reports.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Update config-validation.yml
  .github/workflows/config-validation.yml
Due: check-github-actions

Optimize workflow diskspace
  .github/workflows/config-validation.yml
  .github/workflows/pr-validation.yml
Due: check-github-actions

Implement #271
  docs/development/issue_271/issue_271_plan.md
  docs/development/issue_271/testresults.md
  scripts/performance-optimization/__init__.py
  scripts/performance-optimization/analyze_query_performance.py
  scripts/performance-optimization/benchmark_performance.py
  scripts/performance-optimization/optimize_indexes.py
  scripts/performance-optimization/tune_configurations.py
  scripts/performance-optimization/utils/__init__.py
  scripts/performance-optimization/utils/db_connections.py
  scripts/performance-optimization/utils/metrics_collector.py
  scripts/performance-optimization/utils/report_generator.py
  tests/performance_tests/__init__.py
  tests/performance_tests/test_benchmarking.py
  tests/performance_tests/test_configuration_tuning.py
  tests/performance_tests/test_index_optimization.py
  tests/performance_tests/test_query_performance.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #271 (#345)
  docs/development/issue_271/issue_271_plan.md
  docs/development/issue_271/testresults.md
  scripts/performance-optimization/__init__.py
  scripts/performance-optimization/analyze_query_performance.py
  scripts/performance-optimization/benchmark_performance.py
  scripts/performance-optimization/optimize_indexes.py
  scripts/performance-optimization/tune_configurations.py
  scripts/performance-optimization/utils/__init__.py
  scripts/performance-optimization/utils/db_connections.py
  scripts/performance-optimization/utils/metrics_collector.py
  scripts/performance-optimization/utils/report_generator.py
  tests/performance_tests/__init__.py
  tests/performance_tests/test_benchmarking.py
  tests/performance_tests/test_configuration_tuning.py
  tests/performance_tests/test_index_optimization.py
  tests/performance_tests/test_query_performance.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #272
  docs/development/issue_272/issue_272_plan.md
  docs/development/issue_272/reports/security_audit_20251010_114358.json
  docs/development/issue_272/reports/security_audit_20251010_114358.yaml
  docs/development/issue_272/reports/security_audit_20251010_115716.json
  docs/development/issue_272/reports/security_audit_20251010_115716.yaml
  docs/development/issue_272/reports/security_audit_20251010_122454.json
  docs/development/issue_272/reports/security_audit_20251010_122454.yaml
  docs/development/issue_272/reports/security_audit_20251010_124525.json
  docs/development/issue_272/reports/security_audit_20251010_124525.yaml
  docs/development/issue_272/reports/security_audit_20251010_133749.json
  docs/development/issue_272/reports/security_audit_20251010_133749.yaml
  docs/development/issue_272/testresults.md
  scripts/security-audit/__init__.py
  scripts/security-audit/assess_compliance.py
  scripts/security-audit/conduct_security_audit.py
  scripts/security-audit/config/audit_rules.yaml
  scripts/security-audit/config/compliance_requirements.yaml
  scripts/security-audit/config/security_standards.yaml
  scripts/security-audit/core/__init__.py
  scripts/security-audit/core/database_scanner.py
  scripts/security-audit/reports/access_control_review_20251010_123137.json
  scripts/security-audit/reports/access_control_review_20251010_125133.json
  scripts/security-audit/reports/access_control_review_20251010_133943.json
  scripts/security-audit/reports/compliance_assessment_20251010_123534.json
  scripts/security-audit/reports/compliance_assessment_20251010_125515.json
  scripts/security-audit/reports/compliance_assessment_20251010_134945.json
  scripts/security-audit/reports/security_validation_20251010_123733.json
  scripts/security-audit/reports/security_validation_20251010_125519.json
  scripts/security-audit/reports/security_validation_20251010_134955.json
  scripts/security-audit/review_access_controls.py
  scripts/security-audit/validate_security_improvements.py
  tests/issue_272_tests.md
  tests/security_tests/__init__.py
  tests/security_tests/conftest.py
  tests/security_tests/fixtures/__init__.py
  tests/security_tests/test_access_controls.py
  tests/security_tests/test_compliance.py
  tests/security_tests/test_database_scanner.py
  tests/security_tests/test_security_validation.py
Due: check-regex-patterns, no-hardcoded-secrets

Remove test results with fake credentials
  scripts/security-audit/reports/access_control_review_20251010_123137.json
  scripts/security-audit/reports/access_control_review_20251010_125133.json
  scripts/security-audit/reports/access_control_review_20251010_133943.json
  scripts/security-audit/reports/compliance_assessment_20251010_123534.json
  scripts/security-audit/reports/compliance_assessment_20251010_125515.json
  scripts/security-audit/reports/compliance_assessment_20251010_134945.json
  scripts/security-audit/reports/security_validation_20251010_123733.json
  scripts/security-audit/reports/security_validation_20251010_125519.json
  scripts/security-audit/reports/security_validation_20251010_134955.json
  scripts/security-audit/review_access_controls.py
  tests/security_tests/test_access_controls.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #272 (#346)
  docs/development/issue_272/issue_272_plan.md
  docs/development/issue_272/reports/security_audit_20251010_114358.json
  docs/development/issue_272/reports/security_audit_20251010_114358.yaml
  docs/development/issue_272/reports/security_audit_20251010_115716.json
  docs/development/issue_272/reports/security_audit_20251010_115716.yaml
  docs/development/issue_272/reports/security_audit_20251010_122454.json
  docs/development/issue_272/reports/security_audit_20251010_122454.yaml
  docs/development/issue_272/reports/security_audit_20251010_124525.json
  docs/development/issue_272/reports/security_audit_20251010_124525.yaml
  docs/development/issue_272/reports/security_audit_20251010_133749.json
  docs/development/issue_272/reports/security_audit_20251010_133749.yaml
  docs/development/issue_272/testresults.md
  scripts/security-audit/__init__.py
  scripts/security-audit/assess_compliance.py
  scripts/security-audit/conduct_security_audit.py
  scripts/security-audit/config/audit_rules.yaml
  scripts/security-audit/config/compliance_requirements.yaml
  scripts/security-audit/config/security_standards.yaml
  scripts/security-audit/core/__init__.py
  scripts/security-audit/core/database_scanner.py
  scripts/security-audit/review_access_controls.py
  scripts/security-audit/validate_security_improvements.py
  tests/issue_272_tests.md
  tests/security_tests/__init__.py
  tests/security_tests/conftest.py
  tests/security_tests/fixtures/__init__.py
  tests/security_tests/test_access_controls.py
  tests/security_tests/test_compliance.py
  tests/security_tests/test_database_scanner.py
  tests/security_tests/test_security_validation.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #273
  docs/development/issue_273/issue_273_plan.md
  docs/development/issue_273/testresults.md
  scripts/security_enhancement/__init__.py
  scripts/security_enhancement/configure_security_monitoring.py
  scripts/security_enhancement/core/__init__.py
  scripts/security_enhancement/core/alert_manager.py
  scripts/security_enhancement/core/audit_logger.py
  scripts/security_enhancement/core/cert_manager.py
  scripts/security_enhancement/core/compliance_reporter.py
  scripts/security_enhancement/core/encryption_validator.py
  scripts/security_enhancement/core/security_monitor.py
  scripts/security_enhancement/implement_encryption.py
  scripts/security_enhancement/setup_audit_logging.py
  scripts/security_enhancement/validate_encryption.py
  tests/issue_273_tests.md
  tests/security_enhancement_tests/__init__.py
  tests/security_enhancement_tests/fixtures/__init__.py
  tests/security_enhancement_tests/test_audit_logging.py
  tests/security_enhancement_tests/test_certificate_management.py
  tests/security_enhancement_tests/test_compliance_automation.py
  tests/security_enhancement_tests/test_encryption_validation.py
  tests/security_enhancement_tests/test_integration.py
  tests/security_enhancement_tests/test_security_monitoring.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #273 (#348)
  docs/development/issue_273/issue_273_plan.md
  docs/development/issue_273/testresults.md
  scripts/security_enhancement/__init__.py
  scripts/security_enhancement/configure_security_monitoring.py
  scripts/security_enhancement/core/__init__.py
  scripts/security_enhancement/core/alert_manager.py
  scripts/security_enhancement/core/audit_logger.py
  scripts/security_enhancement/core/cert_manager.py
  scripts/security_enhancement/core/compliance_reporter.py
  scripts/security_enhancement/core/encryption_validator.py
  scripts/security_enhancement/core/security_monitor.py
  scripts/security_enhancement/implement_encryption.py
  scripts/security_enhancement/setup_audit_logging.py
  scripts/security_enhancement/validate_encryption.py
  tests/issue_273_tests.md
  tests/security_enhancement_tests/__init__.py
  tests/security_enhancement_tests/fixtures/__init__.py
  tests/security_enhancement_tests/test_audit_logging.py
  tests/security_enhancement_tests/test_certificate_management.py
  tests/security_enhancement_tests/test_compliance_automation.py
  tests/security_enhancement_tests/test_encryption_validation.py
  tests/security_enhancement_tests/test_integration.py
  tests/security_enhancement_tests/test_security_monitoring.py
Due: check-regex-patterns, no-hardcoded-secrets

Fix failed tests
  test_scorer_api_chain.py
  violentutf_api/fastapi_app/app/testing/__init__.py
  violentutf_api/fastapi_app/app/testing/concurrent_performance.py
  violentutf_api/fastapi_app/app/testing/error_ux.py
  violentutf_api/fastapi_app/app/testing/load_tester.py
  violentutf_api/fastapi_app/app/testing/multi_user_performance.py
  violentutf_api/fastapi_app/app/testing/scalability.py
  violentutf_api/fastapi_app/app/testing/scalability_tester.py
  violentutf_api/fastapi_app/app/testing/stress_testing.py
  violentutf_api/fastapi_app/app/testing/ui_performance.py
  violentutf_api/fastapi_app/app/testing/workflow_usability.py
Due: none

Fixed failed tests
  scripts/change-management
  scripts/change_management/validate_change_procedures.py
Due: check-regex-patterns, no-hardcoded-secrets

Fix failed tests
  .github/workflows/change-management.yml
  scripts/change-management
Due: check-github-actions
