Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-docker-compose

Path conditions:
  check-regex-patterns: any of: \.py$
  no-print-statements: any of: \.py$, but not: tests/|setup.py|scripts/
  no-hardcoded-secrets: any of: \.py$, but not: tests/|ai-tokens.env.sample
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-docker-compose: any of: docker-compose.*\.ya?ml$

Update Advanced_Dashboard_Report_Setup_Page.md
  docs/plans/Advanced_Dashboard_Report_Setup_Page.md
Due: none

Optimize Dashboard API calls, create new Dashboard api endpoints
  docs/guides/Guide_Data_Storage_Locations.md
  docs/guides/Guide_Development_Planning_Complex_Projects.md
  docs/troubleshooting/Dashboard_Data_Verification_Matrix.md
  docs/troubleshooting/Dashboard_Performance_Enterprise.md
  docs/troubleshooting/Enterprise_Duplicate_AppData_Fix.md
  violentutf/pages/4_Configure_Scorers.py
  violentutf/pages/5_Dashboard.py
  violentutf_api/fastapi_app/.dockerignore
  violentutf_api/fastapi_app/app/api/endpoints/dashboard.py
  violentutf_api/fastapi_app/app/api/endpoints/orchestrators.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/services/pyrit_orchestrator_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Update 5_Dashboard.py
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

update dashboard functions
  violentutf/pages/5_Dashboard.py
  violentutf_api/fastapi_app/app/api/endpoints/dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement Report Template System
  docs/plans/Advanced_Dashboard_Report_Implementation_Summary.md
  docs/plans/Advanced_Dashboard_Report_Setup_Page.md
  violentutf/pages/13_📊_Report_Setup.py
  violentutf_api/fastapi_app/app/api/endpoints/reports.py
  violentutf_api/fastapi_app/app/db/migrations/add_report_features.py
  violentutf_api/fastapi_app/app/models/report_system/__init__.py
  violentutf_api/fastapi_app/app/models/report_system/report_models.py
  violentutf_api/fastapi_app/app/schemas/report_system/__init__.py
  violentutf_api/fastapi_app/app/schemas/report_system/report_schemas.py
  violentutf_api/fastapi_app/app/services/report_system/__init__.py
  violentutf_api/fastapi_app/app/services/report_system/block_base.py
  violentutf_api/fastapi_app/app/services/report_system/block_implementations.py
  violentutf_api/fastapi_app/app/services/report_system/report_engine.py
  violentutf_api/fastapi_app/app/services/storage_service.py
  violentutf_api/migrations/versions/003_add_report_features.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Automatic Report - Implemented Data Selection tab functionality
  docs/TODO_MASTER.md
  docs/plans/Report_Setup_Block_System_Architecture.md
  docs/plans/Report_Setup_Data_Selection_Updated.md
  docs/plans/Report_Setup_Implementation_Details.md
  docs/plans/Report_Setup_Implementation_Guidelines.md
  docs/plans/Report_Setup_Implementation_Plan_Revised.md
  docs/plans/Report_Setup_Migration_Strategy.md
  docs/troubleshooting/Report_Setup_Browse_Endpoint_Issues.md
  violentutf/pages/13_📊_Report_Setup.py
  violentutf/pages/5_Dashboard.py
  violentutf/pages/6_Advanced_Dashboard.py
  violentutf_api/fastapi_app/app/api/endpoints/dashboard.py
  violentutf_api/fastapi_app/app/schemas/__init__.py
  violentutf_api/fastapi_app/app/schemas/dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implemented Template Selection tab
  apisix/configure_routes.sh
  docs/COB_Systems_Analysis.md
  docs/plans/COB_Endpoints_Consolidation_Analysis.md
  scripts/setup_cob_cron.sh
  violentutf/pages/13_📊_Report_Setup.py
  violentutf/pages/5_Dashboard.py
  violentutf_api/fastapi_app/app/api/endpoints/cob_reports.py.deprecated
  violentutf_api/fastapi_app/app/api/endpoints/reports.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/models/cob_models.py
  violentutf_api/fastapi_app/app/models/report_system/report_models.py
  violentutf_api/fastapi_app/app/models/reports.py
  violentutf_api/fastapi_app/app/schemas/report_system/report_schemas.py
  violentutf_api/fastapi_app/app/schemas/reports.py
  violentutf_api/fastapi_app/app/services/report_system/report_engine.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Report Template System - Report Configuration tab - Block Configuration
  tests/test_blocks_direct.py
  tests/test_config_tab.py
  violentutf/pages/13_📊_Report_Setup.py
  violentutf_api/fastapi_app/app/services/report_system/block_implementations.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Report Template System - Update ViolentUTF documentation
  docs/COB_Systems_Analysis.md
  docs/api/API_Report_Setup_Endpoints.md
  docs/guides/Guide_AI_Analysis_Integration.md
  docs/guides/Guide_Report_Configuration.md
  docs/guides/Guide_Report_Setup_Overview.md
  docs/plans/Advanced_Dashboard_Report_Setup_Page.md
  docs/troubleshooting/Troubleshooting_Report_Generation.md
  docs/troubleshooting/credential_preservation_setup.md
  docs/updates/Report_Setup_Changes_Summary.md
Due: none

Update setup - retain previously setup secrets
  setup_macos_files/cleanup.sh
  setup_macos_files/env_management.sh
  setup_macos_files/keycloak_setup.sh
  setup_macos_files/utils.sh
Due: none

Get setup for Linux to the same feature parity level with setup for Mac
  README.md
  docs/guides/Documentation_Updates_Summary.md
  docs/guides/Guide_Database_Cleanup.md
  docs/guides/Guide_Linux_Setup_Modernization.md
  docs/troubleshooting/setup_script_migration.md
  setup_linux_files/ai_providers_setup.sh
  setup_linux_files/apisix_setup.sh
  setup_linux_files/cleanup.sh
  setup_linux_files/docker_setup.sh
  setup_linux_files/env_management.sh
  setup_linux_files/keycloak_setup.sh
  setup_linux_files/logging_utils.sh
  setup_linux_files/route_management.sh
  setup_linux_files/streamlit_setup.sh
  setup_linux_files/utils.sh
  setup_linux_files/validation.sh
  setup_linux_files/violentutf_api_setup.sh
  setup_linux_new.sh
Due: none

Improve setup processes for Mac
  README.md
  docs/README.md
  docs/guides/Guide_Cleanup_and_Recovery.md
  docs/guides/Guide_Setup_Script_Options.md
  docs/troubleshooting/Troubleshooting_Backup_Recovery.md
  docs/troubleshooting/setup_script_migration.md
  setup_macos_files/cleanup.sh
  setup_macos_new.sh
Due: none

Create fix_enterprise_import_error.sh
  scripts/fix_enterprise_import_error.sh
Due: none

Allow template files in repo
  .github/workflow-templates/python-test-template.yml
  .github/workflow-templates/python-test.properties.json
  .github/workflow-templates/python-test.yml
  .gitignore
  apisix/configure_routes_template.sh
  apisix/docker-compose.override.yml
  apisix/docker-compose.yml.template
  keycloak/docker-compose.yml.template
  violentutf_api/fastapi_app/.env.template
  violentutf_api/fastapi_app/app/services/report_system/template_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-docker-compose

Fix API key restoration issue
  .gitignore
  docs/troubleshooting/API_Key_Restoration_Issue.md
  setup_linux.sh
  setup_linux_files/env_management.sh
  setup_linux_files/utils.sh
  setup_macos_files/env_management.sh
  setup_macos_files/utils.sh
  setup_macos_new.sh
Due: none

Update key management during setup
  .gitignore
  apisix/create_consumer.sh
  route_diagnostic_report_20250709_175638.md
  route_diagnostic_report_20250709_181428.md
  route_diagnostic_report_20250710_071120.md
  setup_linux.sh
  setup_linux_files/env_management.sh
  setup_macos_files/apisix_setup.sh
  setup_macos_files/env_management.sh
Due: none

Improve setup supports for OpenAPI routes
  docs/guides/Guide_GSAi_Setup_Improvements.md
  docs/troubleshooting/gsai_authentication_resolution.md
  fix_gsai_ai_proxy.sh
  fix_gsai_auth.sh
  setup_macos_files/apisix_setup.sh
  setup_macos_files/openapi_setup.sh
Due: none

add troubleshooting script
  diagnose_api_key_issue.sh
  docs/troubleshooting/api_key_403_forbidden.md
  fix_enterprise_api_key.sh
Due: none

Create fix_gsai_bearer_token.sh
  fix_gsai_bearer_token.sh
Due: none

Update fix_enterprise_api_key.sh
  fix_enterprise_api_key.sh
Due: none

SSL related updates
  docs/troubleshooting/Custom_OpenAPI_SSL_Integration.md
  docs/updates/SSL_Configuration_Update.md
  fix_gsai_ai_proxy.sh
  setup_macos_files/env_management.sh
Due: none

Returned to ai-proxy and remove key-auth
  docs/troubleshooting/Custom_OpenAPI_SSL_Integration.md
  docs/troubleshooting/gsai_keyauth_conflict.md
  fix_gsai_ai_proxy.sh
  setup_macos_files/openapi_setup.sh
Due: none

Update on SSL
  docs/updates/SSL_Configuration_Update.md
  setup_macos_files/env_management.sh
  setup_macos_files/openapi_setup.sh
Due: none

Create diagnostic script
  diagnose_api_key_issue.sh
  docs/guides/Fix_Script_Migration_Guide.md
  fix_gsai_ai_proxy.sh
  fix_violentutf_issues.sh
Due: none

More robust diagnostic script
  diagnose_n_fix_violentutf.sh
Due: none

Update diagnose_n_fix_violentutf.sh
  diagnose_n_fix_violentutf.sh
Due: none

Update README.md
  README.md
Due: none

Add issue templates
  apisix/conf/.gitignore
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  apisix/conf/prometheus.yml
  apisix/docker-compose.yml
  diagnose_n_fix_violentutf.sh
  docs/guides/Guide_SimpleChat_Documentation_Access.md
  docs/plans/Documentation_Access_Enhancement_Plan.md
  setup_macos_files/validation.sh
  setup_macos_files/violentutf_api_setup.sh
  setup_macos_new.sh
  test_gsai_auth_format.sh
  tests/integration/test_documentation_integration.py
  tests/unit/mcp/test_documentation_provider.py
  tests/unit/utils/test_mcp_integration_docs.py
  violentutf/pages/Simple_Chat.py
  violentutf/utils/mcp_client.py
  violentutf/utils/mcp_integration.py
  violentutf_api/fastapi_app/app/mcp/resources/__init__.py
  violentutf_api/fastapi_app/app/mcp/resources/configuration.py
  violentutf_api/fastapi_app/app/mcp/resources/datasets.py
  violentutf_api/fastapi_app/app/mcp/resources/documentation.py
  violentutf_api/fastapi_app/app/mcp/resources/manager.py
  violentutf_api/fastapi_app/app/mcp/server/base.py
  violentutf_api/fastapi_app/app/mcp/server/transports.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-docker-compose

Create Dataset_QA_Evaluation_Enhancement_Plan.md
  docs/plans/Dataset_QA_Evaluation_Enhancement_Plan.md
Due: none

Update Dataset Q&A Enhancement Plan with corrected PyRIT analysis
  docs/plans/Dataset_QA_Evaluation_Enhancement_Plan.md
Due: none

Create ViolentUTF_Dataset_Analysis_Report.md
  docs/reports/ViolentUTF_Dataset_Analysis_Report.md
Due: none

Add issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/security.yml
  .github/ISSUE_TEMPLATE/story.yml
  .github/ISSUE_TEMPLATE/task.yml
  .gitignore
Due: none

Setup Agent Orchestrator
  .gitignore
  .gitmodules
  logs/subprocess_security.jsonl
  violentutf_api/.gitignore
Due: none

ignore jsonl
  .gitignore
  logs/subprocess_security.jsonl
Due: none

Update .gitignore
  .gitignore
Due: none

Delete subprocess_security.jsonl
  logs/subprocess_security.jsonl
Due: none
