Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-docker-compose

Path conditions:
  check-regex-patterns: any of: \.py$
  no-print-statements: any of: \.py$, but not: tests/|setup.py|scripts/
  no-hardcoded-secrets: any of: \.py$, but not: tests/|ai-tokens.env.sample
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-docker-compose: any of: docker-compose.*\.ya?ml$

Improved scorer interface
  violentutf/pages/4_Configure_Scorers.py
  violentutf/utils/token_manager.py
  violentutf_api/fastapi_app/app/db/duckdb_manager.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Improved scorer handling logics
  docs/troubleshooting/gsai_api_model_access_issue.md
  docs/troubleshooting/scorer_deletion_issue.md
  scripts/pre_commit_check.py
  violentutf/generators/generator_config.py
  violentutf_api/fastapi_app/app/api/endpoints/scorers.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Create Dashboard improvement plan - GSA-TTS/ai-gov-api#157
  docs/plans/DashboardImprovement_Plan.md
Due: none

Improve Scorer logics - GSA-TTS/ai-gov-api#157
  check_scorer_auth_issues.py
  docs/guides/user_context_standardization.md
  docs/troubleshooting/scorer_persistence_fix.md
  docs/troubleshooting/user_context_scorer_operations.md
  scorer_display_diagnostic_report.md
  scripts/check_api_scorers.py
  test_scorer_api_chain.py
  verify_streamlit_scorer_api.py
  violentutf/pages/4_Configure_Scorers.py
  violentutf/utils/user_context.py
  violentutf/utils/user_context_manager.py
  violentutf_api/fastapi_app/app/core/auth.py
  violentutf_api/fastapi_app/app/core/user_context_manager.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Execution Counting Enhancement
  docs/troubleshooting/execution_counting_enhancement_summary.md
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implemented Dynamic Filtering System
  docs/troubleshooting/dashboard_code_safety_fixes.md
  docs/troubleshooting/dashboard_filtering_issues.md
  docs/troubleshooting/dashboard_preset_button_fixes.md
  docs/troubleshooting/dynamic_filtering_summary.md
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Response Data Integration
  docs/troubleshooting/response_data_integration_summary.md
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Updated dashboard with Multi-Dimensional Analysis tabs
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Improve setup and dashboard
  fix_docker_build_timeout.sh
  setup_macos_files/apisix_setup.sh
  setup_macos_files/openapi_setup.sh
  setup_macos_files/pre_download_packages.sh
  setup_macos_new.sh
  violentutf/Dockerfile
  violentutf/pages/5_Dashboard.py
  violentutf_api/fastapi_app/Dockerfile
  violentutf_api/fastapi_app/pip.conf
  violentutf_api/fastapi_app/requirements-prebuild.txt
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix setup yaml issue and allow support for dashboard data clean up
  docs/README.md
  docs/guides/Guide_Database_Cleanup.md
  docs/guides/README.md
  docs/plans/dashboard_fixes_plan.md
  docs/troubleshooting/dashboard_prompt_response_fix.md
  scripts/README_cleanup_scorer_results.md
  scripts/cleanup_dashboard_data.py
  scripts/cleanup_scorer_results.py
  scripts/cleanup_scorer_results_simple.py
  setup_macos_files/apisix_setup.sh
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Improve yaml setup issue and dashboard data clean up script
  docs/troubleshooting/apisix_config_directory_issue.md
  scripts/cleanup_dashboard_data.py
  setup_macos_files/apisix_setup.sh
  setup_macos_files/env_management.sh
Due: check-regex-patterns, no-hardcoded-secrets

Create enterprise_gsai_https_support_plan.md
  docs/plans/enterprise_gsai_https_support_plan.md
Due: none

Update supports for SSL/HTTPS routes (esp GSAi Routes)
  ai-tokens.env.sample
  docs/guides/openapi-integration.md
  docs/plans/enterprise_gsai_https_support_plan.md
  docs/troubleshooting/Custom_OpenAPI_SSL_Integration.md
  setup_macos_files/certificate_management.sh
  setup_macos_files/openapi_setup.sh
  setup_macos_files/utils.sh
  setup_macos_files/validate_https_config.sh
  tests/test_enterprise_gsai.sh
  tests/test_https_support.sh
  tmp/openapi_route_modifications.txt
Due: none

Update .gitignore
  .gitignore
Due: none

Final improvement to support custom OpenAPI SSL endpoints.
  README.md
  docs/guides/openapi-integration.md
  docs/troubleshooting/Custom_OpenAPI_SSL_Integration.md
  docs/troubleshooting/https_ssl_quick_fixes.md
Due: none

Plans for Investigation Scorer Inconsistencies
  docs/plans/Plan_Scorer_Result_Inconsistency_Investigation.md
  docs/plans/scorer_data_flow_diagram.md
  docs/troubleshooting/Scorer_Inconsistency_Investigation_Report.md
  scripts/inspect_scorer_inconsistencies.py
Due: check-regex-patterns, no-hardcoded-secrets

Fix dashboard issues
  docs/troubleshooting/Scorer_Inconsistency_Investigation_Report.md
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Redact secrets (minimal impact as secrets are local and disposable)
  docs/guides/GSAi_API_Integration_Improvements.md
  docs/troubleshooting/Final_APISIX_Setup_Fix.md
  docs/troubleshooting/IronUTF_GSAi_Model_Discovery_Issue.md
  docs/troubleshooting/gsai_api_model_access_issue.md
  fix_keycloak_client.sh
Due: none

Improve secret detection and redaction in pre commit checks
  .gitignore
  scripts/pre_commit_check.py
Due: check-regex-patterns, no-hardcoded-secrets

Fix IronUTF issues with discovering GSAi models
  docs/plans/Consistent_Model_Discovery_Plan.md
  docs/plans/IronUTF_Simple_Fix_Plan.md
  docs/troubleshooting/IronUTF_GSAi_Model_Discovery_Issue.md
  violentutf/pages/IronUTF.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Minor fix to IronUTF gsai model discovery issue.
  docs/troubleshooting/IronUTF_GSAi_Model_Discovery_Issue.md
  violentutf/pages/IronUTF.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Reverse the way Dashboard interpret boolean scorer results
  docs/guides/Guide_GSAi_Model_Specific_Routes.md
  docs/troubleshooting/Scorer_Inconsistency_Investigation_Report.md
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Expand Compatibility Matrix tab in the Dashboard
  find_database_owner.py
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Update 5_Dashboard.py
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix APISIX restart issue
  apisix/docker-compose.override.yml
  apisix/startup-wrapper.sh
  apisix_clean_restart.sh
  docs/troubleshooting/APISIX_Docker_Restart_Issue.md
  find_database_owner.py
  scripts/cleanup_dashboard_data.py
  scripts/cleanup_scorer_results.py
  scripts/cleanup_scorer_results_simple.py
  scripts/inspect_scorer_inconsistencies.py
  scripts/pre_commit_check.py
  setup_linux.sh
  setup_macos_files/apisix_setup.sh
  violentutf/pages/5_Dashboard.py
  violentutf/pages/IronUTF.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-docker-compose

Improve the management and display of Test vs. Full scorer executions
  docs/plans/Dashboard_Test_vs_Full_Execution_Differentiation_Plan.md
  docs/troubleshooting/Dashboard_Test_Execution_Filter_Implementation.md
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Comprehensive expansion plan for Reporting
  docs/plans/COB_Report_Enhancement_Plan.md
  docs/plans/COB_Report_Implementation_Guide.md
  docs/troubleshooting/Dashboard_Test_Execution_Filter_Implementation.md
  docs/troubleshooting/Database_Behavior_Analysis.md
  violentutf/pages/5_Dashboard.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Better align proposed Report expansion plan with existing tech stack
  docs/plans/COB_Report_Implementation_Guide.md
  docs/plans/COB_Report_Revised_Technology_Stack.md
  docs/plans/COB_Report_Secure_Technology_Stack.md
  docs/plans/COB_Report_Technology_Security_Review.md
  docs/troubleshooting/Database_Switching_Analysis.md
Due: none

Issue with scorer/orchestrator data management & proposed fixes
  docs/troubleshooting/fix_database_orchestrator_issues.md
  docs/troubleshooting/streamlit_database_orchestrator_issues.md
Due: none

API endpoints for Report operations
  scripts/setup_cob_cron.sh
  violentutf_api/fastapi_app/app/api/endpoints/cob_reports.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/db/migrations/add_cob_tables.py
  violentutf_api/fastapi_app/app/models/__init__.py
  violentutf_api/fastapi_app/app/models/cob_models.py
  violentutf_api/fastapi_app/app/schemas/__init__.py
  violentutf_api/fastapi_app/app/schemas/cob_schemas.py
  violentutf_api/fastapi_app/app/services/cob_pdf_service.py
  violentutf_api/fastapi_app/requirements.txt
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Update cob_reports.py
  violentutf_api/fastapi_app/app/api/endpoints/cob_reports.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix database switching issue - GSA-TTS/usai-api#165
  docs/troubleshooting/Database_Behavior_Analysis.md
  docs/troubleshooting/Database_Switching_Analysis.md
  docs/troubleshooting/Database_Switching_Implementation_Analysis.md
  docs/troubleshooting/Phase1_Implementation_Summary.md
  docs/troubleshooting/Phase1_macOS_Setup_Support.md
  setup_macos_files/violentutf_api_setup.sh
  violentutf_api/fastapi_app/app/services/dataset_integration_service.py
  violentutf_api/fastapi_app/app/services/pyrit_orchestrator_service.py
  violentutf_api/fastapi_app/app/services/simple_connection_manager.py
  violentutf_api/fastapi_app/app/utils/database_utils.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix startup bugs
  .gitignore
  apisix/docker-compose.override.yml
  apisix/startup-wrapper.sh
  violentutf_api/fastapi_app/Dockerfile
Due: check-docker-compose

Improve backdown mechanism for orchestrator services + dashboard data clean up option for setup
  docs/troubleshooting/Retry_Mechanism_Implementation.md
  setup_macos_files/cleanup.sh
  setup_macos_new.sh
  violentutf_api/fastapi_app/app/services/pyrit_orchestrator_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Supports for dashboard data clean up
  setup_macos_files/cleanup.sh
Due: none

Big improvement to dashboard functions - GSA-TTS/usai-api#165
  docs/troubleshooting/Scorer_Inconsistency_Investigation_Report.md
  violentutf/pages/4_Configure_Scorers.py
  violentutf/pages/5_Dashboard.py
  violentutf_api/fastapi_app/app/services/pyrit_orchestrator_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Optimize dashboard functions
  docs/troubleshooting/Scorer_Inconsistency_Investigation_Report.md
  violentutf/pages/4_Configure_Scorers.py
  violentutf_api/fastapi_app/app/services/pyrit_orchestrator_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Report Development Plan
  docs/plans/Advanced_Dashboard_Report_Setup_Page.md
  docs/troubleshooting/Scorer_Inconsistency_Investigation_Report.md
Due: none

Update Advanced_Dashboard_Report_Setup_Page.md
  docs/plans/Advanced_Dashboard_Report_Setup_Page.md
Due: none
