Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-docker-compose

check-regex-patterns:
  name: Check Regex Patterns (prevent corruption)
  entry: python scripts/check_regex_patterns.py
  language: python
  pass_filenames: true
  description: Prevent corruption of regex patterns by auto-formatting

no-print-statements:
  name: Check for print statements
  entry: (?<!def )print\(
  language: pygrep

no-hardcoded-secrets:
  name: Check for hardcoded secrets
  entry: (api_key|apikey|password|secret|token|private_key)=.*["\x27].*["\x27]
  language: pygrep

check-github-actions:
  name: Validate GitHub Actions workflows
  entry: yamllint -d relaxed
  language: system

check-docker-compose:
  name: Validate docker-compose files
  entry: docker compose config --quiet
  language: system
  pass_filenames: true

Fix CI/CD errors
  junit.xml
  tests/test_enhancement_strip_integration.py
  tests/test_enhancement_strip_ui.py
  tests/test_mcp_client.py
  tests/test_mcp_integration.py
  violentutf/utils/mcp_command_handler.py
  violentutf/utils/mcp_integration.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

feat: add local pre-commit validation matching GitHub PR rigor
  .flake8
  .pre-commit-config.yaml
  .pylintrc
  DEVELOPMENT.md
  bandit-report.json
  node_modules/.cache/prettier/.prettier-caches/8427ff8b675aea6589fdff91ceab2eddc9554462.json
  pyproject.toml
  run_pr_checks.sh
  tests/test_phase3_command_parser.py
  violentutf/utils/mcp_integration.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix failed tests
  scripts/optimize_precommit_performance.py
  scripts/precommit_env_check.py
  tests/test_welcome_endpoints.py
  violentutf/pages/Simple_Chat.py
  violentutf_api/fastapi_app/app/mcp/tests/test_phase2_integration_revised.py
  violentutf_api/fastapi_app/app/schemas/auth.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Create SECURITY.md
  SECURITY.md
Due: none

Update bandit configuration
  .bandit
  .github/workflows/full-ci.yml
  .github/workflows/pr-validation.yml
Due: check-github-actions

Remove Test Matrix. Will include it in Release scans instead
  .github/workflows/pr-validation.yml
  .gitignore
  bandit-report.json
Due: check-github-actions

Optimize CI
  .github/workflows/nightly.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-checks.yml
Due: check-github-actions

Optimize CI (cont.)
  .github/workflows/badges.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci-pr.yml
  .github/workflows/full-ci.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-checks.yml
  .github/workflows/release.yml
  violentutf_api/fastapi_app/app/mcp/resources/datasets.py
  violentutf_api/fastapi_app/app/models/api_key.py
  violentutf_api/fastapi_app/app/schemas/auth.py
  violentutf_api/fastapi_app/app/schemas/datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions

Optimize CI (cont.)
  .github/workflows/full-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-checks.yml
Due: check-github-actions

Disable Integration Tests for online CI - PR.
  .github/workflows/ci-nightly.yml
  .github/workflows/full-ci.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-validation.yml
Due: check-github-actions

Optimize CI (cont.)
  .github/workflows/pr-validation.yml
  .github/workflows/quick-checks.yml
  .pre-commit-config.yaml
Due: check-github-actions

Fix identation problem in CI python
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  .github/workflows/full-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-checks.yml
  .github/workflows/weekly.yml
Due: check-github-actions

Update dependencies
  violentutf/requirements.txt
  violentutf_api/fastapi_app/requirements.txt
Due: none

Promote Dev nightly to Main (#182)
  .github/workflows/badges.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci-pr.yml
  .github/workflows/full-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-checks.yml
  .github/workflows/release.yml
  .github/workflows/weekly.yml
  .secrets.baseline
  violentutf/requirements.txt
  violentutf_api/fastapi_app/requirements-minimal.txt
  violentutf_api/fastapi_app/requirements.txt
Due: check-github-actions

Implement issue #199
  tests/test_issue_119_unit_simple.py
  tests/test_issue_119_violentutf_dataset_registry.py
  tests/unit/test_issue_119_violentutf_dataset_registry_unit.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/core/dataset_config.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #199 (#186)
  tests/test_issue_119_unit_simple.py
  tests/test_issue_119_violentutf_dataset_registry.py
  tests/unit/test_issue_119_violentutf_dataset_registry_unit.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/core/dataset_config.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #120
  tests/unit/test_issue_120_dataset_validation_framework.py
  violentutf_api/fastapi_app/app/api/endpoints/validation.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/core/dataset_validation.py
  violentutf_api/fastapi_app/app/schemas/validation.py
  violentutf_api/fastapi_app/app/services/validation_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #120 (#188)
  tests/unit/test_issue_120_dataset_validation_framework.py
  violentutf_api/fastapi_app/app/api/endpoints/validation.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/core/dataset_validation.py
  violentutf_api/fastapi_app/app/schemas/validation.py
  violentutf_api/fastapi_app/app/services/validation_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #121
  tests/fixtures/garak_sample_data/Dan_6_0.txt
  tests/fixtures/garak_sample_data/LatentInjectionReportFull.txt
  tests/fixtures/garak_sample_data/RTPThreat.txt
  tests/test_issue_121_garak_converter.py
  violentutf_api/fastapi_app/app/core/converters/__init__.py
  violentutf_api/fastapi_app/app/core/converters/garak_converter.py
  violentutf_api/fastapi_app/app/core/validation.py
  violentutf_api/fastapi_app/app/schemas/garak_datasets.py
  violentutf_api/fastapi_app/app/services/garak_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #121 (#189)
  tests/fixtures/garak_sample_data/Dan_6_0.txt
  tests/fixtures/garak_sample_data/LatentInjectionReportFull.txt
  tests/fixtures/garak_sample_data/RTPThreat.txt
  tests/test_issue_121_garak_converter.py
  violentutf_api/fastapi_app/app/core/converters/__init__.py
  violentutf_api/fastapi_app/app/core/converters/garak_converter.py
  violentutf_api/fastapi_app/app/core/validation.py
  violentutf_api/fastapi_app/app/schemas/garak_datasets.py
  violentutf_api/fastapi_app/app/services/garak_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Remove agent_orchestrator
  .gitmodules
Due: none

Updated setup
  .gitignore
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  apisix/conf/prometheus.yml
  docs/troubleshooting/keycloak_https_required_fix.md
  keycloak/docker-compose.yml
  keycloak/realm-export.json
  keycloak/setup_macos.sh
  violentutf_api/fastapi_app/Dockerfile
  violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py
  violentutf_api/fastapi_app/verify_redteam_install.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-docker-compose

Add zscaler supports
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  docs/troubleshooting/Zscaler_Corporate_SSL_Docker_Build_Fix.md
  violentutf_api/fastapi_app/Dockerfile
Due: none

Temporarily add SSL bypass
  docs/troubleshooting/Zscaler_Corporate_SSL_Docker_Build_Fix.md
  violentutf_api/fastapi_app/Dockerfile
  violentutf_api/fastapi_app/requirements.txt
  violentutf_api/fastapi_app/verify_redteam_install.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix zscaler issues
  COMPLETE_SSL_CERTIFICATE_SOLUTION.md
  PRODUCTION_SSL_CERTIFICATE_FIX.md
  docs/troubleshooting/Zscaler_Corporate_SSL_Docker_Build_Fix.md
  setup_macos.sh
  violentutf_api/fastapi_app/Dockerfile
  violentutf_api/fastapi_app/extract_corporate_certificates.sh
Due: none

fix setup
  PRODUCTION_SSL_CERTIFICATE_FIX.md
  violentutf_api/fastapi_app/Dockerfile
Due: none

Update setup_macos.sh
  setup_macos.sh
Due: none

Fix minor issues
  setup_macos.sh
  violentutf/pages/1_Configure_Generators.py
  violentutf/utils/token_manager.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Path conditions:
  check-regex-patterns: any of: \.py$
  no-print-statements: any of: \.py$, but not: tests/|setup.py|scripts/
  no-hardcoded-secrets: any of: \.py$, but not: tests/|ai-tokens.env.sample
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-docker-compose: any of: docker-compose.*\.ya?ml$
