Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-docker-compose

Path conditions:
  check-regex-patterns: any of: \.py$
  no-print-statements: any of: \.py$, but not: tests/|setup.py|scripts/
  no-hardcoded-secrets: any of: \.py$, but not: tests/|ai-tokens.env.sample
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-docker-compose: any of: docker-compose.*\.ya?ml$

Update .gitignore
  .gitignore
Due: none

Fix bugs
  .github/workflows/ci.yml
  tests/api_tests/test_converter_apply_functionality.py
  tests/conftest.py
  tests/utils/keycloak_auth.py
  violentutf/pages/0_Start.py
  violentutf/pages/1_Configure_Generators.py
  violentutf/pages/2_Configure_Datasets.py
  violentutf/pages/3_Configure_Converters.py
  violentutf/pages/4_Configure_Scorers.py
  violentutf/pages/5_Dashboard.py
  violentutf/pages/IronUTF.py
  violentutf/pages/Simple_Chat.py
  violentutf/utils/mcp_scorer_integration.py
  violentutf_api/fastapi_app/app/api/endpoints/converters.py
  violentutf_api/fastapi_app/app/api/endpoints/orchestrators.py
  violentutf_api/fastapi_app/requirements-minimal.txt
  violentutf_api/fastapi_app/requirements.txt
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions

Fix bugs
  .pre-commit-config.yaml
  apisix/configure_gateway_auth.py
  debug_auth_flow.py
  debug_openapi_auth.py
  docs/guides/Guide_Dataset_Integration_Logging.md
  node_modules/.cache/prettier/.prettier-caches/8427ff8b675aea6589fdff91ceab2eddc9554462.json
  scripts/check_regex_patterns.py
  scripts/diagnose_formatting.py
  scripts/fix_github_actions_yaml.py
  scripts/pre_commit_check.py
  scripts/run_tests_windows.py
  tests/__init__.py
  tests/test_issue_117.py.backup
  tests/utils/keycloak_auth.py
  violentutf/pages/0_Start.py
  violentutf/pages/1_Configure_Generators.py
  violentutf/pages/2_Configure_Datasets.py
  violentutf/pages/3_Configure_Converters.py
  violentutf/pages/4_Configure_Scorers.py
  violentutf/pages/5_Dashboard.py
  violentutf/pages/IronUTF.py
  violentutf/pages/Simple_Chat.py
  violentutf/utils/mcp_scorer_integration.py
  violentutf_api/fastapi_app/app/api/endpoints/converters.py
  violentutf_api/fastapi_app/app/api/endpoints/orchestrators.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix failed checks
  .pre-commit-config.yaml
  scripts/fix_path_spaces.py
  scripts/fix_regex_patterns.py
  scripts/generate_dependency_report.py
  scripts/generate_performance_report.py
  scripts/pre_commit_check.py
  scripts/run_code_quality_checks.py
  violentutf/Home.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix docstring formatting and type annotations for CI compliance
  violentutf/requirements.txt
  violentutf_api/fastapi_app/app/api/endpoints/sessions.py
  violentutf_api/fastapi_app/app/core/security_logging.py
  violentutf_api/fastapi_app/app/core/validation.py
  violentutf_api/fastapi_app/app/exceptions/dataset_exceptions.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix syntax errors from docstring fixes
  violentutf_api/fastapi_app/app/api/endpoints/auth.py
  violentutf_api/fastapi_app/app/api/endpoints/database.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/api/endpoints/echo.py
  violentutf_api/fastapi_app/app/api/endpoints/sessions.py
  violentutf_api/fastapi_app/app/core/auth.py
  violentutf_api/fastapi_app/app/core/rate_limiting.py
  violentutf_api/fastapi_app/app/core/security.py
  violentutf_api/fastapi_app/app/core/security_check.py
  violentutf_api/fastapi_app/app/core/security_headers.py
  violentutf_api/fastapi_app/app/core/security_logging.py
  violentutf_api/fastapi_app/app/db/duckdb_manager.py
  violentutf_api/fastapi_app/app/exceptions/dataset_exceptions.py
  violentutf_api/fastapi_app/app/mcp/prompts/base.py
  violentutf_api/fastapi_app/app/services/keycloak_verification.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix one-line docstring formatting (D200)
  violentutf_api/fastapi_app/app/api/endpoints/auth.py
  violentutf_api/fastapi_app/app/api/endpoints/config.py
  violentutf_api/fastapi_app/app/api/endpoints/database.py
  violentutf_api/fastapi_app/app/api/endpoints/echo.py
  violentutf_api/fastapi_app/app/api/endpoints/files.py
  violentutf_api/fastapi_app/app/api/endpoints/generators.py
  violentutf_api/fastapi_app/app/api/endpoints/health.py
  violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py
  violentutf_api/fastapi_app/app/api/endpoints/redteam.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/core/auth.py
  violentutf_api/fastapi_app/app/core/config.py
  violentutf_api/fastapi_app/app/core/logging.py
  violentutf_api/fastapi_app/app/core/password_policy.py
  violentutf_api/fastapi_app/app/core/rate_limiting.py
  violentutf_api/fastapi_app/app/core/security_check.py
  violentutf_api/fastapi_app/app/core/security_headers.py
  violentutf_api/fastapi_app/app/core/validation.py
  violentutf_api/fastapi_app/app/db/database.py
  violentutf_api/fastapi_app/app/models/api_key.py
  violentutf_api/fastapi_app/app/models/auth.py
  violentutf_api/fastapi_app/app/schemas/config.py
  violentutf_api/fastapi_app/app/schemas/database.py
  violentutf_api/fastapi_app/app/schemas/files.py
  violentutf_api/fastapi_app/app/schemas/sessions.py
  violentutf_api/fastapi_app/app/services/garak_integration.py
  violentutf_api/fastapi_app/app/services/keycloak_verification.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix isort import ordering for CI compliance
  violentutf_api/fastapi_app/app/api/endpoints/auth.py
  violentutf_api/fastapi_app/app/api/endpoints/database.py
  violentutf_api/fastapi_app/app/api/endpoints/files.py
  violentutf_api/fastapi_app/app/api/endpoints/health.py
  violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py
  violentutf_api/fastapi_app/app/core/auth.py
  violentutf_api/fastapi_app/app/core/config.py
  violentutf_api/fastapi_app/app/core/dataset_recovery.py
  violentutf_api/fastapi_app/app/core/rate_limiting.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix flake8 docstring and annotation errors in API test files
  tests/api_tests/conftest.py
  tests/api_tests/scripts/generate_openapi_schema.py
  tests/api_tests/scripts/validate_openapi_schemas.py
  tests/api_tests/test_auth_mock.py
Due: check-regex-patterns

Fix critical CI failures
  tests/api_tests/conftest.py
  tests/api_tests/test_auth_mock.py
  tests/api_tests/test_basic_contract.py
  violentutf/app_data/violentutf/datasets/reasoning/judgebench-iclr25/utils/judges.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix remaining CI blocking issues
  .flake8
  tests/api_tests/test_auth_mock.py
Due: check-regex-patterns

Reduce flake8 violations from 4,629 to 586 by ignoring legacy issues
  .flake8
Due: none

Revert "Reduce flake8 violations from 4,629 to 586 by ignoring legacy issues"
  .flake8
Due: none

Final CI fixes: resolve all flake8 issues and clean up temp files
  .flake8
  fix_escaped_quotes.py
  fix_final_syntax.py
  fix_generator_final.py
  fix_generator_indentation.py
  fix_remaining_syntax.py
  fix_scorer_syntax.py
  fix_undefined_names.py
  fix_whitespace.py
  junit.xml
  violentutf_api/fastapi_app/app/core/validation.py
  violentutf_api/fastapi_app/app/services/dataset_integration_service.py
  violentutf_api/jwt_cli.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Update ViolentUTF setup with current configuration
  apisix/conf/nginx.conf
  zscaler.crt
Due: none

minor update
  .gitignore
  apisix/conf/nginx.conf
  violentutf_api/fastapi_app/app/api/endpoints/generators.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Update setup_macos.sh
  setup_macos.sh
Due: none

Fix CI/CD fails
  apisix/conf/nginx.conf
  tests/test_keycloak_verification_fix.py
  violentutf/pages/Simple_Chat.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/mcp/tools/introspection.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix Keycloak 403 issue: Remove hardcoded nginx.conf and add to .gitignore
  .gitignore
  apisix/conf/nginx.conf
Due: none

Update requirements-minimal.txt
  violentutf_api/fastapi_app/requirements-minimal.txt
Due: none

Update README.md
  README.md
Due: none

Add issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/security.yml
  .github/ISSUE_TEMPLATE/story.yml
  .github/ISSUE_TEMPLATE/task.yml
  .gitignore
Due: none

Working State
  comprehensive_test_failure_analysis.md
  docs/testing/NFO/pytest_1_auth_handler_missing_method.json
  docs/testing/NFO/pytest_1_class_constructor.json
  docs/testing/NFO/pytest_1_fastapi_routes_readonly.json
  docs/testing/NFO/pytest_1_fixture_missing.json
  docs/testing/NFO/pytest_1_import_error.json
  docs/testing/NFO/pytest_1_permission_errors.json
  docs/testing/NFO/pytest_1_pydantic_deprecations.json
  docs/testing/NFO/pytest_1_unknown_markers.json
  setup_macos.sh
  tests/api_tests/conftest.py
  violentutf/app_data/simplechat/default_promptvariables.json
Due: check-regex-patterns

Fix CI/CD failures
  debug_auth_flow.py
  docs/testing/NFO/pytest_1_auth_handler_missing_method.json
  docs/testing/NFO/pytest_1_class_constructor.json
  docs/testing/NFO/pytest_1_fastapi_routes_readonly.json
  docs/testing/NFO/pytest_1_fixture_missing.json
  docs/testing/NFO/pytest_1_import_error.json
  docs/testing/NFO/pytest_1_permission_errors.json
  docs/testing/NFO/pytest_1_pydantic_deprecations.json
  docs/testing/NFO/pytest_1_unknown_markers.json
  docs/testing/fix/comprehensive_nfo_fix_report.md
  tests/api_tests/conftest.py
  tests/api_tests/test_auth_mock.py
  tests/api_tests/test_converter_apply.py
  tests/api_tests/test_dataset_prompt_format.py
  tests/debug_dashboard_api.py
  tests/test_apisix_integration.py
  tests/test_keycloak_verification_fix.py
  tests/test_orchestrator_dataset.py
  violentutf_api/fastapi_app/app/core/config.py
  violentutf_api/fastapi_app/app/mcp/auth.py
  violentutf_api/fastapi_app/app/mcp/tests/test_phase2_integration.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

fix(ci): resolve GitHub Actions workflow failures
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
Due: check-github-actions

fix(ci): resolve GitHub Actions syntax errors and format code
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  tests/api_tests/conftest.py
  tests/api_tests/test_auth_mock.py
  tests/test_keycloak_verification_fix.py
  tests/test_targets.py
  violentutf/Home.py
  violentutf_api/fastapi_app/app/core/config.py
  violentutf_api/fastapi_app/app/mcp/auth.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions

Minor fix
  .flake8
  setup_macos.sh
Due: none

Update CI/CD
  .github/workflows/full-ci.yml
  .github/workflows/pr-validation.yml
  requirements.txt
  tests/requirements.txt
Due: check-github-actions

Fix CI/CD failures
  .github/workflows/pr-validation.yml
  bandit-report-fixed.json
  bandit-report.json
  scripts/diagnose_formatting.py
  scripts/pre_commit_check.py
  scripts/run_code_quality_checks.py
  violentutf/__init__.py
  violentutf/converters/__init__.py
  violentutf/generators/__init__.py
  violentutf/orchestrators/__init__.py
  violentutf/pages/__init__.py
  violentutf/scorers/__init__.py
  violentutf/utils/__init__.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions

Fix mypy and bandit issues
  .gitignore
  bandit-report.json
  scripts/check_regex_patterns.py
  scripts/diagnose_formatting.py
  scripts/pre_commit_check.py
  scripts/run_code_quality_checks.py
  scripts/run_tests_windows.py
  tests/api_tests/test_auth_mock.py
  tests/api_tests/test_converter_apply.py
  tests/api_tests/test_converter_apply_functionality.py
  tests/api_tests/test_converter_copy_mode.py
  tests/api_tests/test_converter_transformation.py
  tests/api_tests/test_dataset_prompt_format.py
  tests/api_tests/test_save_and_test_generator.py
  tests/conftest.py
  tests/test_all_endpoints.py
  tests/test_apisix_integration.py
  tests/test_auth_bypass_fix.py
  tests/test_converter_preview.py
  tests/test_integration.py
  tests/test_jwt_authentication.py
  tests/test_orchestrator_executions.py
  tests/test_scorer_orchestrator_fix.py
  tests/test_simple_chat_real.py
  violentutf_api/fastapi_app/app/api/endpoints/sessions.py
  violentutf_api/fastapi_app/app/core/config.py
  violentutf_api/fastapi_app/app/core/security.py
  violentutf_api/fastapi_app/app/db/duckdb_manager.py
  violentutf_api/fastapi_app/app/mcp/prompts/__init__.py
  violentutf_api/fastapi_app/app/models/api_key.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix Black and Isort issues
  scripts/run_tests_windows.py
  tests/api_tests/test_converter_apply.py
  tests/api_tests/test_converter_apply_functionality.py
  tests/api_tests/test_converter_copy_mode.py
  tests/api_tests/test_converter_transformation.py
  tests/api_tests/test_dataset_prompt_format.py
  tests/api_tests/test_save_and_test_generator.py
  tests/test_all_endpoints.py
  tests/test_apisix_integration.py
  tests/test_auth_bypass_fix.py
  tests/test_scorer_orchestrator_fix.py
  tests/test_scorer_timeout_fix.py
  tests/test_sequential_execution_implementation.py
  violentutf/converters/converter_config.py
  violentutf_api/fastapi_app/app/core/dataset_config.py
  violentutf_api/fastapi_app/app/core/logging.py
  violentutf_api/fastapi_app/app/core/security.py
  violentutf_api/fastapi_app/app/core/security_logging.py
  violentutf_api/fastapi_app/app/mcp/config.py
  violentutf_api/fastapi_app/app/models/api_key.py
  violentutf_api/fastapi_app/app/services/dataset_integration_service.py
  violentutf_api/fastapi_app/app/services/dataset_stream_processor.py
  violentutf_api/fastapi_app/app/services/generator_integration_service.py
  violentutf_api/fastapi_app/app/services/pyrit_memory_bridge.py
  violentutf_api/fastapi_app/app/services/scorer_integration_service.py
  violentutf_api/jwt_cli.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Minor fix
  junit.xml
  tests/test_all_endpoints.py
Due: check-regex-patterns

Fix bandit issues
  junit.xml
  tests/test_enhancement_strip_integration.py
  tests/test_phase3_integration.py
  tests/unit/utils/test_phase3_command_parser.py
Due: check-regex-patterns
