Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-pyproject-toml

Path conditions:
  check-regex-patterns: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-print-statements: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|setup.py|scripts/|debug_auth_flow.py|debug_openapi_auth.py|apisix/configure_gateway_auth.py|diagnose_user_context.py|app/core/security_check.py|app/services/pyrit_orchestrator_service.py|safe_comprehensive_fix.py|violentutf/utils/logging.py|violentutf_api/fastapi_app/diagnose_user_context.py|violentutf_api/fastapi_app/app/core/security_check\.py|violentutf_api/fastapi_app/verify_redteam_install\.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-hardcoded-secrets: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|ai-tokens.env.sample|violentutf_api/fastapi_app/app/api/endpoints/auth.py|violentutf_api/fastapi_app/app/api/endpoints/generators.py|violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py|violentutf/pages/Simple_Chat.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-pyproject-toml: any of: ^pyproject\.toml$

Fix chat request issues
  scripts/stack_check.sh
  violentutf/pages/1_Configure_Generators.py
  violentutf_api/fastapi_app/app/services/generator_integration_service.py
  violentutf_api/fastapi_app/app/services/pyrit_orchestrator_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

update setup
  apisix/conf/.gitignore
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  apisix/conf/prometheus.yml
  violentutf/Dockerfile
  violentutf_api/fastapi_app/.dockerignore
  violentutf_api/fastapi_app/Dockerfile
  violentutf_api/fastapi_app/verify_redteam_install.py
Due: check-regex-patterns, no-hardcoded-secrets

Update setup
  SETUP_CHECKLIST.md
  setup_macos_files/openapi_setup.sh
  violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py
Due: check-regex-patterns, no-print-statements

Improved supports for enterprise env with Zscaller
  SETUP_CHECKLIST.md
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  setup_macos_files/ssl_setup.sh
Due: none

LOCALLY WORKING. VERSION - MAC OS
  SETUP_CHECKLIST.md
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  setup_macos_files/ssl_setup.sh
Due: none

Add explicit support for zscaler during setup
  SETUP_CHECKLIST.md
  setup_macos_new.sh
  violentutf_api/fastapi_app/Dockerfile.zscaler
Due: none

Update Dockerfile.zscaler
  violentutf_api/fastapi_app/Dockerfile.zscaler
Due: none

Add better route setup
  setup_macos_files/apisix_setup.sh
  setup_macos_files/env_management.sh
  setup_macos_files/openapi_setup.sh
Due: none

Create migration_plan_dev_nightly.md
  migration_plan_dev_nightly.md
Due: none

Update setup
  SETUP_CHECKLIST.md
  setup_macos_files/openapi_setup.sh
Due: none

Improved supports for enterprise env with Zscaller
  SETUP_CHECKLIST.md
  setup_macos_files/ssl_setup.sh
Due: none

LOCALLY WORKING. VERSION - MAC OS
  SETUP_CHECKLIST.md
  setup_macos_files/ssl_setup.sh
Due: none

Improve OpenAPI service processing and other setup operations.
  ai-tokens.env.sample
  apisix/remove_routes.sh
  setup_macos_files/cleanup.sh
  setup_macos_files/openapi_setup.sh
Due: none

UPDATED SETUP FOR MAC - SEP25
  ai-tokens.env.sample
  apisix/Dockerfile.apisix
  apisix/conf/.gitignore
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  apisix/conf/prometheus.yml
  apisix/docker-compose.yml
  apisix/remove_routes.sh
  keycloak/docker-compose.yml
  migration_plan_dev_nightly.md
  setup_macos_files/cleanup.sh
  setup_macos_files/openapi_setup.sh
Due: none

Implement issue $122
  README.md
  SETUP_CHECKLIST.md
  apisix/remove_routes.sh
  docs/guides/Guide_OllaGen1_Data_Splitter.md
  docs/guides/README.md
  docs/violentUTF_programSteps/3_ConfigureDatasets.md
  migration_plan_dev_nightly.md
  setup_macos_files/cleanup.sh
  setup_macos_files/openapi_setup.sh
  setup_macos_files/ssl_setup.sh
  tests/issue_122_tests.md
  tests/test_ollegen1_splitter.py
  violentutf_api/fastapi_app/app/core/splitters/__init__.py
  violentutf_api/fastapi_app/app/core/splitters/ollegen1_splitter.py
  violentutf_api/fastapi_app/app/schemas/split_manifest.py
  violentutf_api/fastapi_app/app/utils/csv_utils.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue $122 (#195)
  README.md
  SETUP_CHECKLIST.md
  apisix/remove_routes.sh
  docs/guides/Guide_OllaGen1_Data_Splitter.md
  docs/guides/README.md
  docs/violentUTF_programSteps/3_ConfigureDatasets.md
  migration_plan_dev_nightly.md
  setup_macos_files/cleanup.sh
  setup_macos_files/openapi_setup.sh
  setup_macos_files/ssl_setup.sh
  tests/issue_122_tests.md
  tests/test_ollegen1_splitter.py
  violentutf_api/fastapi_app/app/core/splitters/__init__.py
  violentutf_api/fastapi_app/app/core/splitters/ollegen1_splitter.py
  violentutf_api/fastapi_app/app/schemas/split_manifest.py
  violentutf_api/fastapi_app/app/utils/csv_utils.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #123
  SETUP_CHECKLIST.md
  apisix/remove_routes.sh
  migration_plan_dev_nightly.md
  setup_macos_files/cleanup.sh
  setup_macos_files/openapi_setup.sh
  setup_macos_files/ssl_setup.sh
  tests/issue_123_tests.md
  tests/test_data/ollegen1_manifest.json
  tests/test_data/ollegen1_sample.csv
  tests/test_issue_123_integration.py
  tests/test_issue_123_ollegen1_converter.py
  violentutf_api/fastapi_app/app/core/converters/ollegen1_converter.py
  violentutf_api/fastapi_app/app/schemas/ollegen1_datasets.py
  violentutf_api/fastapi_app/app/services/ollegen1_service.py
  violentutf_api/fastapi_app/app/utils/qa_utils.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #123 (#196)
  tests/issue_123_tests.md
  tests/test_data/ollegen1_manifest.json
  tests/test_data/ollegen1_sample.csv
  tests/test_issue_123_integration.py
  tests/test_issue_123_ollegen1_converter.py
  violentutf_api/fastapi_app/app/core/converters/ollegen1_converter.py
  violentutf_api/fastapi_app/app/schemas/ollegen1_datasets.py
  violentutf_api/fastapi_app/app/services/ollegen1_service.py
  violentutf_api/fastapi_app/app/utils/qa_utils.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #124
  docs/development/issue_124/ISSUE_124_development_report.md
  docs/development/issue_124/issue_124_plan.md
  tests/api_tests/test_issue_124_dataset_endpoints.py
  tests/fixtures/test_data_manager.py
  tests/integration/test_issue_124_core_conversions.py
  tests/integration/test_issue_124_error_scenarios.py
  tests/integration/test_issue_124_garak_integration.py
  tests/integration/test_issue_124_ollegen1_integration.py
  tests/integration/test_issue_124_pyrit_integration.py
  tests/issue_124_tests.md
  tests/performance/test_issue_124_performance.py
  tests/ui_tests/test_issue_124_streamlit_workflows.py
  tests/utils/test_services.py
  violentutf_api/fastapi_app/app/core/converters/garak_converter.py
  violentutf_api/fastapi_app/app/core/converters/ollegen1_converter.py
  violentutf_api/fastapi_app/app/schemas/garak_datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #124 (#197)
  docs/development/issue_124/ISSUE_124_development_report.md
  docs/development/issue_124/issue_124_plan.md
  tests/api_tests/test_issue_124_dataset_endpoints.py
  tests/fixtures/test_data_manager.py
  tests/integration/test_issue_124_core_conversions.py
  tests/integration/test_issue_124_error_scenarios.py
  tests/integration/test_issue_124_garak_integration.py
  tests/integration/test_issue_124_ollegen1_integration.py
  tests/integration/test_issue_124_pyrit_integration.py
  tests/issue_124_tests.md
  tests/performance/test_issue_124_performance.py
  tests/ui_tests/test_issue_124_streamlit_workflows.py
  tests/utils/test_services.py
  violentutf_api/fastapi_app/app/core/converters/garak_converter.py
  violentutf_api/fastapi_app/app/core/converters/ollegen1_converter.py
  violentutf_api/fastapi_app/app/schemas/garak_datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement Issue #125
  apisix/conf/config.yaml
  docs/development/issue_125/issue_125_plan.md
  tests/issue_125_tests.md
  tests/test_data/acpbench/bool.json
  tests/test_data/acpbench/gen.json
  tests/test_data/acpbench/mcq.json
  tests/test_data/acpbench/sample_bool.json
  tests/test_data/acpbench/sample_gen.json
  tests/test_data/acpbench/sample_mcq.json
  tests/test_issue_125_acpbench_converter.py
  violentutf_api/fastapi_app/app/core/converters/acpbench_converter.py
  violentutf_api/fastapi_app/app/schemas/acpbench_datasets.py
  violentutf_api/fastapi_app/app/services/planning_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement Issue #125 (#198)
  apisix/conf/config.yaml
  docs/development/issue_125/issue_125_plan.md
  tests/issue_125_tests.md
  tests/test_data/acpbench/bool.json
  tests/test_data/acpbench/gen.json
  tests/test_data/acpbench/mcq.json
  tests/test_data/acpbench/sample_bool.json
  tests/test_data/acpbench/sample_gen.json
  tests/test_data/acpbench/sample_mcq.json
  tests/test_issue_125_acpbench_converter.py
  violentutf_api/fastapi_app/app/core/converters/acpbench_converter.py
  violentutf_api/fastapi_app/app/schemas/acpbench_datasets.py
  violentutf_api/fastapi_app/app/services/planning_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #126
  apisix/conf/config.yaml
  tests/issue_126_tests.md
  tests/test_issue_126_integration.py
  tests/test_issue_126_legalbench_converter.py
  violentutf_api/fastapi_app/app/core/converters/legalbench_converter.py
  violentutf_api/fastapi_app/app/schemas/legalbench_datasets.py
  violentutf_api/fastapi_app/app/services/legal_service.py
  violentutf_api/fastapi_app/app/utils/legal_categorization.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #126 (#215)
  tests/issue_126_tests.md
  tests/test_issue_126_integration.py
  tests/test_issue_126_legalbench_converter.py
  violentutf_api/fastapi_app/app/core/converters/legalbench_converter.py
  violentutf_api/fastapi_app/app/schemas/legalbench_datasets.py
  violentutf_api/fastapi_app/app/services/legal_service.py
  violentutf_api/fastapi_app/app/utils/legal_categorization.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Create pyrit_Datasets.md
  docs/api/pyrit_Datasets.md
Due: none

Implement issue #127
  docs/.DS_Store
  docs/api/garak_Datasets.md
  docs/development/issue_127/issue_127_plan.md
  docs/development/issue_127/testresults.md
  tests/issue_127_tests.md
  tests/test_issue_127_docmath_converter.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/core/converters/docmath_converter.py
  violentutf_api/fastapi_app/app/schemas/docmath_datasets.py
  violentutf_api/fastapi_app/app/services/docmath_service.py
  violentutf_api/fastapi_app/app/services/mathematical_service.py
  violentutf_api/fastapi_app/app/utils/math_processing.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #127 (#216)
  docs/.DS_Store
  docs/api/garak_Datasets.md
  docs/development/issue_127/issue_127_plan.md
  docs/development/issue_127/testresults.md
  tests/issue_127_tests.md
  tests/test_issue_127_docmath_converter.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/core/converters/docmath_converter.py
  violentutf_api/fastapi_app/app/schemas/docmath_datasets.py
  violentutf_api/fastapi_app/app/services/docmath_service.py
  violentutf_api/fastapi_app/app/services/mathematical_service.py
  violentutf_api/fastapi_app/app/utils/math_processing.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue $128
  docs/development/issue_128/issue_128_plan.md
  tests/issue_128_tests.md
  tests/test_issue_128_graphwalk_converter.py
  violentutf_api/fastapi_app/app/api/endpoints/converters.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/core/converters/graphwalk_converter.py
  violentutf_api/fastapi_app/app/core/splitters/__init__.py
  violentutf_api/fastapi_app/app/core/splitters/massive_json_splitter.py
  violentutf_api/fastapi_app/app/schemas/graphwalk_datasets.py
  violentutf_api/fastapi_app/app/services/graph_service.py
  violentutf_api/fastapi_app/app/services/graphwalk_service.py
  violentutf_api/fastapi_app/app/utils/graph_processing.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue $128 (#217)
  docs/development/issue_128/issue_128_plan.md
  tests/issue_128_tests.md
  tests/test_issue_128_graphwalk_converter.py
  violentutf_api/fastapi_app/app/api/endpoints/converters.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/core/converters/graphwalk_converter.py
  violentutf_api/fastapi_app/app/core/splitters/__init__.py
  violentutf_api/fastapi_app/app/core/splitters/massive_json_splitter.py
  violentutf_api/fastapi_app/app/schemas/graphwalk_datasets.py
  violentutf_api/fastapi_app/app/services/graph_service.py
  violentutf_api/fastapi_app/app/services/graphwalk_service.py
  violentutf_api/fastapi_app/app/utils/graph_processing.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue 129
  docs/development/issue_129/issue_129_plan.md
  docs/development/issue_129/testresults.md
  tests/test_issue_129_confaide_converter.py
  violentutf_api/fastapi_app/app/core/converters/confaide_converter.py
  violentutf_api/fastapi_app/app/schemas/confaide_datasets.py
  violentutf_api/fastapi_app/app/services/privacy_service.py
  violentutf_api/fastapi_app/app/utils/privacy_analysis.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue 129 (#218)
  docs/development/issue_129/issue_129_plan.md
  docs/development/issue_129/testresults.md
  tests/test_issue_129_confaide_converter.py
  violentutf_api/fastapi_app/app/core/converters/confaide_converter.py
  violentutf_api/fastapi_app/app/schemas/confaide_datasets.py
  violentutf_api/fastapi_app/app/services/privacy_service.py
  violentutf_api/fastapi_app/app/utils/privacy_analysis.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #130
  docs/development/issue_130/ISSUE_130_development_report_FINAL.md
  docs/development/issue_130/issue_130_plan.md
  docs/development/issue_130/test_results.md
  docs/development/issue_130/testresults.md
  tests/issue_130_tests.md
  tests/test_judgebench_converter.py
  violentutf_api/fastapi_app/app/core/converters/judgebench_converter.py
  violentutf_api/fastapi_app/app/schemas/judgebench_datasets.py
  violentutf_api/fastapi_app/app/services/meta_evaluation_service.py
  violentutf_api/fastapi_app/app/utils/judge_analysis.py
  violentutf_api/fastapi_app/tests/test_judgebench_converter.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #130 (#219)
  docs/development/issue_130/ISSUE_130_development_report_FINAL.md
  docs/development/issue_130/issue_130_plan.md
  docs/development/issue_130/test_results.md
  docs/development/issue_130/testresults.md
  tests/issue_130_tests.md
  tests/test_judgebench_converter.py
  violentutf_api/fastapi_app/app/core/converters/judgebench_converter.py
  violentutf_api/fastapi_app/app/schemas/judgebench_datasets.py
  violentutf_api/fastapi_app/app/services/meta_evaluation_service.py
  violentutf_api/fastapi_app/app/utils/judge_analysis.py
  violentutf_api/fastapi_app/tests/test_judgebench_converter.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #131
  tests/api/test_advanced_endpoints.py
  tests/integration/test_massive_file_processing.py
  tests/integration/test_phase3_conversions.py
  tests/integration/test_specialized_scoring.py
  tests/issue_131_tests.md
  tests/performance/test_advanced_datasets.py
  violentutf_api/fastapi_app/app/core/converters/base_converter.py
  violentutf_api/fastapi_app/app/schemas/confaide_datasets.py
  violentutf_api/fastapi_app/app/schemas/judgebench_datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #131 (#221)
  tests/api/test_advanced_endpoints.py
  tests/integration/test_massive_file_processing.py
  tests/integration/test_phase3_conversions.py
  tests/integration/test_specialized_scoring.py
  tests/issue_131_tests.md
  tests/performance/test_advanced_datasets.py
  violentutf_api/fastapi_app/app/core/converters/base_converter.py
  violentutf_api/fastapi_app/app/schemas/confaide_datasets.py
  violentutf_api/fastapi_app/app/schemas/judgebench_datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets
