Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-pyproject-toml

Path conditions:
  check-regex-patterns: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-print-statements: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|setup.py|scripts/|debug_auth_flow.py|debug_openapi_auth.py|apisix/configure_gateway_auth.py|diagnose_user_context.py|app/core/security_check.py|app/services/pyrit_orchestrator_service.py|safe_comprehensive_fix.py|violentutf/utils/logging.py|violentutf_api/fastapi_app/diagnose_user_context.py|violentutf_api/fastapi_app/app/core/security_check\.py|violentutf_api/fastapi_app/verify_redteam_install\.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-hardcoded-secrets: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|ai-tokens.env.sample|violentutf_api/fastapi_app/app/api/endpoints/auth.py|violentutf_api/fastapi_app/app/api/endpoints/generators.py|violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py|violentutf/pages/Simple_Chat.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-pyproject-toml: any of: ^pyproject\.toml$

Create conftest.py
  tests/change_management_tests/conftest.py
Due: none

Update change-management.yml
  .github/workflows/change-management.yml
Due: check-github-actions

Fix failed PR checks
  violentutf/utils/mcp_command_handler.py
  violentutf/utils/report_generator.py
  violentutf_api/fastapi_app/app/testing/__init__.py
  violentutf_api/fastapi_app/app/testing/concurrent_performance.py
  violentutf_api/fastapi_app/tests/conftest.py
  violentutf_api/fastapi_app/tests/test_conflict_resolution_service.py
  violentutf_api/fastapi_app/tests/test_models.py
  violentutf_api/fastapi_app/tests/test_performance.py
  violentutf_api/fastapi_app/tests/test_validation_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

fix failed PR tests
  tests/change_management_tests/test_change_classification.py
  tests/change_management_tests/test_cli.py
  tests/change_management_tests/test_incident_classification.py
  tests/change_management_tests/test_integration.py
  tests/change_management_tests/test_sqlite_rollback.py
  tests/integration_tests/test_issue_133_dataset_integration.py
  violentutf/utils/mcp_integration.py
  violentutf/utils/report_generator.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Fix failed tests
  pyproject.toml
  pytest.ini
  tests/integration_tests/test_issue_133_dataset_integration.py.disabled
  tests/pytest.ini
  tests/recovery_tests/test_database_recovery.py.disabled
  violentutf/pages/Database_Asset_Management.py
  violentutf/utils/mcp_integration.py
  violentutf/utils/report_generator.py
  violentutf_api/fastapi_app/tests/conftest.py
  violentutf_api/fastapi_app/tests/test_api_integration.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-pyproject-toml

Fix failed tests
  pytest.ini
  scripts/change_management/core/change_classifier.py
Due: check-regex-patterns, no-hardcoded-secrets

Fix failed tests
  scripts/change_management/incident/escalation_manager.py
  scripts/change_management/rollback/postgresql_rollback.py
  scripts/change_management/rollback/sqlite_rollback.py
Due: check-regex-patterns, no-hardcoded-secrets
