Repository Cybonto/violentUTF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions, check-pyproject-toml

Path conditions:
  check-regex-patterns: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-print-statements: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|setup.py|scripts/|debug_auth_flow.py|debug_openapi_auth.py|apisix/configure_gateway_auth.py|diagnose_user_context.py|app/core/security_check.py|app/services/pyrit_orchestrator_service.py|safe_comprehensive_fix.py|violentutf/utils/logging.py|violentutf_api/fastapi_app/diagnose_user_context.py|violentutf_api/fastapi_app/app/core/security_check\.py|violentutf_api/fastapi_app/verify_redteam_install\.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  no-hardcoded-secrets: any of: \.py$, but not: ^(tests/|test/|.*tests.*|.*test.*|test_.*|.*_test\.py$|ai-tokens.env.sample|violentutf_api/fastapi_app/app/api/endpoints/auth.py|violentutf_api/fastapi_app/app/api/endpoints/generators.py|violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py|violentutf/pages/Simple_Chat.py|venv/|\.venv/|env/|\.env/|ENV/|\.vitutf/|\.virtualenv/|\.conda/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.nox/|\.cache/|build/|dist/|\.eggs/|node_modules/|tmp/|temp/|\.tmp/|\.temp/|app_data/|violentutf_logs/|migrations/)
  check-github-actions: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-pyproject-toml: any of: ^pyproject\.toml$

Implement issue #133
  .flake8
  docs/development/issue_133/issue_133_plan.md
  tests/integration_tests/test_issue_133_dataset_integration.py
  tests/issue_133_tests.md
  tests/performance_tests/test_issue_133_ui_performance.py
  tests/ui_tests/test_issue_133_dataset_ui_components.py
  tests/ux_tests/test_issue_133_user_workflows.py
  violentutf/components/__init__.py
  violentutf/components/dataset_configuration.py
  violentutf/components/dataset_preview.py
  violentutf/components/dataset_selector.py
  violentutf/components/evaluation_workflows.py
  violentutf/pages/2_Configure_Datasets.py
  violentutf/utils/dataset_ui_components.py
  violentutf/utils/specialized_workflows.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #133 (#230)
  .flake8
  docs/development/issue_133/issue_133_plan.md
  tests/integration_tests/test_issue_133_dataset_integration.py
  tests/issue_133_tests.md
  tests/performance_tests/test_issue_133_ui_performance.py
  tests/ui_tests/test_issue_133_dataset_ui_components.py
  tests/ux_tests/test_issue_133_user_workflows.py
  violentutf/components/__init__.py
  violentutf/components/dataset_configuration.py
  violentutf/components/dataset_preview.py
  violentutf/components/dataset_selector.py
  violentutf/components/evaluation_workflows.py
  violentutf/pages/2_Configure_Datasets.py
  violentutf/utils/dataset_ui_components.py
  violentutf/utils/specialized_workflows.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implemented issue #134
  docs/development/issue_134/issue_134_plan.md
  docs/guides/Guide_Cognitive_Behavioral_Assessment.md
  docs/guides/Guide_Dataset_Integration_Overview.md
  docs/guides/Guide_Dataset_Selection_Workflows.md
  docs/guides/Guide_Legal_Reasoning_Assessment.md
  docs/guides/Guide_Mathematical_Reasoning_Evaluation.md
  docs/guides/Guide_Meta_Evaluation_Workflows.md
  docs/guides/Guide_Privacy_Evaluation.md
  docs/guides/Guide_RedTeaming_Evaluation.md
  docs/guides/Guide_Spatial_Graph_Reasoning.md
  docs/plans/Advanced_Evaluation_Methodologies.md
  docs/plans/Best_Practices_Dataset_Evaluation.md
  docs/plans/Performance_Optimization_Guide.md
  docs/troubleshooting/Troubleshooting_Dataset_Integration.md
  docs/troubleshooting/Troubleshooting_Large_File_Processing.md
  docs/troubleshooting/Troubleshooting_Performance_Issues.md
  tests/issue_134_tests.md
  tests/test_issue_134_documentation_completeness.py
  tests/test_issue_134_user_workflows.py
Due: none

Implemented issue #134 (#231)
  docs/development/issue_134/issue_134_plan.md
  docs/guides/Guide_Cognitive_Behavioral_Assessment.md
  docs/guides/Guide_Dataset_Integration_Overview.md
  docs/guides/Guide_Dataset_Selection_Workflows.md
  docs/guides/Guide_Legal_Reasoning_Assessment.md
  docs/guides/Guide_Mathematical_Reasoning_Evaluation.md
  docs/guides/Guide_Meta_Evaluation_Workflows.md
  docs/guides/Guide_Privacy_Evaluation.md
  docs/guides/Guide_RedTeaming_Evaluation.md
  docs/guides/Guide_Spatial_Graph_Reasoning.md
  docs/plans/Advanced_Evaluation_Methodologies.md
  docs/plans/Best_Practices_Dataset_Evaluation.md
  docs/plans/Performance_Optimization_Guide.md
  docs/troubleshooting/Troubleshooting_Dataset_Integration.md
  docs/troubleshooting/Troubleshooting_Large_File_Processing.md
  docs/troubleshooting/Troubleshooting_Performance_Issues.md
  tests/issue_134_tests.md
  tests/test_issue_134_documentation_completeness.py
  tests/test_issue_134_user_workflows.py
Due: none

Implement issue #238
  .gitignore
  docs/.DS_Store
  docs/development/issue_238/issue_238_plan.md
  docs/development/issue_238/testresults.md
  docs/reports/Issue133_MissingDatasets_Supplement.md
  tests/issue_238_tests.md
  tests/test_issue_238_import_resolution.py
  tests/test_issue_238_regression.py
  tests/test_issue_238_simple_verification.py
  tests/test_issue_238_verification.py
  violentutf/pages/2_Configure_Datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #238 (#243)
  .gitignore
  docs/.DS_Store
  docs/development/issue_238/issue_238_plan.md
  docs/development/issue_238/testresults.md
  docs/reports/Issue133_MissingDatasets_Supplement.md
  tests/issue_238_tests.md
  tests/test_issue_238_import_resolution.py
  tests/test_issue_238_regression.py
  tests/test_issue_238_simple_verification.py
  tests/test_issue_238_verification.py
  violentutf/pages/2_Configure_Datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #239
  docs/course/README.md
  docs/course/ai_redteaming_course_outline.md
  docs/course/course_module1_foundations.md
  docs/course/course_module3_attack_techniques.md
  docs/course/course_practical_exercises.md
  docs/course/instructor_implementation_guide.md
  docs/development/issue_239/issue_239_plan.md
  docs/development/issue_239/testresults.md
  tests/test_issue_239_dataset_access.py
  violentutf/components/dataset_selector.py
  violentutf/utils/dataset_api_client.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #239 (#244)
  docs/course/README.md
  docs/course/ai_redteaming_course_outline.md
  docs/course/course_module1_foundations.md
  docs/course/course_module3_attack_techniques.md
  docs/course/course_practical_exercises.md
  docs/course/instructor_implementation_guide.md
  docs/development/issue_239/issue_239_plan.md
  docs/development/issue_239/testresults.md
  tests/test_issue_239_dataset_access.py
  violentutf/components/dataset_selector.py
  violentutf/utils/dataset_api_client.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue #240
  docs/datasets/DATASET_CATEGORIZATION.md
  docs/development/issue_240/ISSUE_240_development_report.md
  docs/development/issue_240/issue_240_plan.md
  docs/development/issue_240/layout_options_comparison.md
  docs/violentUTF_programSteps/3_ConfigureDatasets.md
  tests/ui_tests/test_layout_basic.py
  tests/ui_tests/test_layout_options.py
  violentutf/pages/2_Configure_Datasets.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Merge Issue 240 to Dev (#256)
  .github/badges/ci-status.json
  docs/datasets/DATASET_CATEGORIZATION.md
  docs/development/issue_240/ISSUE_240_development_report.md
  docs/development/issue_240/issue_240_plan.md
  docs/development/issue_240/layout_options_comparison.md
  docs/violentUTF_programSteps/3_ConfigureDatasets.md
  tests/ui_tests/test_layout_basic.py
  tests/ui_tests/test_layout_options.py
  violentutf/pages/2_Configure_Datasets.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement issue 246
  docs/development/issue_246/issue_246_plan.md
  docs/development/issue_246/issue_246_tests.md
  docs/examples/custom_branding_example.html
  reports/violentutf_security_report_20250916_114834.html
  reports/violentutf_security_report_20250916_114914.html
  reports/violentutf_security_report_20250916_115104.html
  route_diagnostic_report_20250709_175638.md
  route_diagnostic_report_20250709_181428.md
  route_diagnostic_report_20250710_071120.md
  tests/integration/test_report_generation.py
  tests/mcp_tests/chatclient/test_mcp_client.py
  tests/test_mcp_integration_utils.py
  violentutf/parameters/reporting/branding_config.yaml
  violentutf/parameters/reporting/default_config.yaml
  violentutf/utils/report_generator.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Merge Issue #246 to Dev (#257)
  docs/development/issue_246/issue_246_plan.md
  docs/development/issue_246/issue_246_tests.md
  docs/examples/custom_branding_example.html
  reports/violentutf_security_report_20250916_114834.html
  reports/violentutf_security_report_20250916_114914.html
  reports/violentutf_security_report_20250916_115104.html
  route_diagnostic_report_20250709_175638.md
  route_diagnostic_report_20250709_181428.md
  route_diagnostic_report_20250710_071120.md
  tests/integration/test_report_generation.py
  tests/mcp_tests/chatclient/test_mcp_client.py
  violentutf/parameters/reporting/branding_config.yaml
  violentutf/parameters/reporting/default_config.yaml
  violentutf/utils/report_generator.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Minor fixes
  apisix/conf/config.yaml
  apisix/conf/dashboard.yaml
  setup_macos_files/apisix_setup.sh
  violentutf/components/dataset_selector.py
  violentutf/pages/2_Configure_Datasets.py
  violentutf/utils/report_generator.py
  violentutf_api/fastapi_app/app/api/endpoints/auth.py
  violentutf_api/fastapi_app/app/api/endpoints/datasets.py
  violentutf_api/fastapi_app/app/api/endpoints/jwt_keys.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #261
  docs/.DS_Store
  docs/adr/001-database-technology-choices.md
  docs/adr/002-duckdb-deprecation-strategy.md
  docs/architecture/c4-model/container-diagram.puml
  docs/architecture/c4-model/fastapi-component-diagram.puml
  docs/architecture/c4-model/mcp-component-diagram.puml
  docs/architecture/c4-model/system-context.puml
  docs/architecture/component-diagrams/database-interaction-map.puml
  docs/architecture/data-flows/api-data-flow.puml
  docs/architecture/data-flows/authentication-flow.puml
  docs/architecture/data-flows/mcp-integration-flow.puml
  docs/architecture/generate-diagrams.sh
  docs/architecture/overview.md
  docs/database/architecture-overview.md
  docs/development/issue_261/cross-database-transaction-recovery-procedures.md
  docs/development/issue_261/issue_261_plan.md
  docs/development/issue_261/jwt-token-refresh-cascade-procedures.md
  docs/development/issue_261/testresults.md
  docs/plans/generalized-database-audit-plan.md
Due: none

Implement #261 (#276)
  docs/.DS_Store
  docs/adr/001-database-technology-choices.md
  docs/adr/002-duckdb-deprecation-strategy.md
  docs/architecture/c4-model/container-diagram.puml
  docs/architecture/c4-model/fastapi-component-diagram.puml
  docs/architecture/c4-model/mcp-component-diagram.puml
  docs/architecture/c4-model/system-context.puml
  docs/architecture/component-diagrams/database-interaction-map.puml
  docs/architecture/data-flows/api-data-flow.puml
  docs/architecture/data-flows/authentication-flow.puml
  docs/architecture/data-flows/mcp-integration-flow.puml
  docs/architecture/generate-diagrams.sh
  docs/architecture/overview.md
  docs/database/architecture-overview.md
  docs/development/issue_261/cross-database-transaction-recovery-procedures.md
  docs/development/issue_261/issue_261_plan.md
  docs/development/issue_261/jwt-token-refresh-cascade-procedures.md
  docs/development/issue_261/testresults.md
  docs/plans/generalized-database-audit-plan.md
Due: none

Implement #262
  docs/README.md
  docs/database/data-classification.md
  docs/database/file-storage-systems.md
  docs/database/inventory.md
  docs/database/ownership-responsibilities.md
  docs/database/risk-assessment.md
  docs/database/schemas/postgresql-keycloak-schema.md
  docs/database/schemas/sqlite-fastapi-schema.md
  docs/database/usage-patterns.md
  docs/development/issue_262/issue_262_plan.md
  docs/development/issue_262/testresults.md
  docs/development/reports/issue_261_plan.md
  docs/development/reports/testresults.md
  docs/operations/cross-database-transaction-recovery-procedures.md
  docs/security/jwt-token-refresh-cascade-procedures.md
Due: none

Implement #262 (#278)
  docs/README.md
  docs/database/data-classification.md
  docs/database/file-storage-systems.md
  docs/database/inventory.md
  docs/database/ownership-responsibilities.md
  docs/database/risk-assessment.md
  docs/database/schemas/postgresql-keycloak-schema.md
  docs/database/schemas/sqlite-fastapi-schema.md
  docs/database/usage-patterns.md
  docs/development/issue_262/issue_262_plan.md
  docs/development/issue_262/testresults.md
  docs/development/reports/issue_261_plan.md
  docs/development/reports/testresults.md
  docs/operations/cross-database-transaction-recovery-procedures.md
  docs/security/jwt-token-refresh-cascade-procedures.md
Due: none

Implement #280
  docs/development/issue_280/issue_280_plan.md
  tests/issue_280_tests.md
  tests/test_issue_280_asset_api.py
  tests/test_issue_280_asset_models.py
  tests/test_issue_280_asset_services.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/api/v1/assets.py
  violentutf_api/fastapi_app/app/db/migrations/add_asset_management_tables.py
  violentutf_api/fastapi_app/app/models/asset_inventory.py
  violentutf_api/fastapi_app/app/schemas/asset_schemas.py
  violentutf_api/fastapi_app/app/services/asset_management/__init__.py
  violentutf_api/fastapi_app/app/services/asset_management/asset_service.py
  violentutf_api/fastapi_app/app/services/asset_management/audit_service.py
  violentutf_api/fastapi_app/app/services/asset_management/conflict_resolution.py
  violentutf_api/fastapi_app/app/services/asset_management/discovery_integration.py
  violentutf_api/fastapi_app/app/services/asset_management/validation_service.py
  violentutf_api/fastapi_app/tests/README_ASSET_TESTS.md
  violentutf_api/fastapi_app/tests/conftest.py
  violentutf_api/fastapi_app/tests/test_api_integration.py
  violentutf_api/fastapi_app/tests/test_asset_service.py
  violentutf_api/fastapi_app/tests/test_audit_service.py
  violentutf_api/fastapi_app/tests/test_conflict_resolution_service.py
  violentutf_api/fastapi_app/tests/test_discovery_integration_service.py
  violentutf_api/fastapi_app/tests/test_migrations.py
  violentutf_api/fastapi_app/tests/test_models.py
  violentutf_api/fastapi_app/tests/test_performance.py
  violentutf_api/fastapi_app/tests/test_runner_assets.py
  violentutf_api/fastapi_app/tests/test_validation_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #280 (#286)
  docs/development/issue_280/issue_280_plan.md
  tests/issue_280_tests.md
  tests/test_issue_280_asset_api.py
  tests/test_issue_280_asset_models.py
  tests/test_issue_280_asset_services.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/api/v1/assets.py
  violentutf_api/fastapi_app/app/db/migrations/add_asset_management_tables.py
  violentutf_api/fastapi_app/app/models/asset_inventory.py
  violentutf_api/fastapi_app/app/schemas/asset_schemas.py
  violentutf_api/fastapi_app/app/services/asset_management/__init__.py
  violentutf_api/fastapi_app/app/services/asset_management/asset_service.py
  violentutf_api/fastapi_app/app/services/asset_management/audit_service.py
  violentutf_api/fastapi_app/app/services/asset_management/conflict_resolution.py
  violentutf_api/fastapi_app/app/services/asset_management/discovery_integration.py
  violentutf_api/fastapi_app/app/services/asset_management/validation_service.py
  violentutf_api/fastapi_app/tests/README_ASSET_TESTS.md
  violentutf_api/fastapi_app/tests/conftest.py
  violentutf_api/fastapi_app/tests/test_api_integration.py
  violentutf_api/fastapi_app/tests/test_asset_service.py
  violentutf_api/fastapi_app/tests/test_audit_service.py
  violentutf_api/fastapi_app/tests/test_conflict_resolution_service.py
  violentutf_api/fastapi_app/tests/test_discovery_integration_service.py
  violentutf_api/fastapi_app/tests/test_migrations.py
  violentutf_api/fastapi_app/tests/test_models.py
  violentutf_api/fastapi_app/tests/test_performance.py
  violentutf_api/fastapi_app/tests/test_runner_assets.py
  violentutf_api/fastapi_app/tests/test_validation_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

implemented #281
  docs/development/issue_281/issue_281_plan.md
  docs/development/issue_281/issue_281_tests.md
  tests/integration/test_issue_124_ollegen1_integration.py
  tests/test_issue_280_asset_api.py
  tests/test_issue_280_asset_models.py
  tests/test_issue_280_asset_services.py
  tests/test_issue_281_api_integration.py
  tests/test_issue_281_compliance_checker.py
  tests/test_issue_281_documentation_analyzer.py
  tests/test_issue_281_e2e_gap_analysis.py
  tests/test_issue_281_gap_analyzer.py
  tests/test_issue_281_gap_prioritizer.py
  tests/test_issue_281_orphaned_detector.py
  violentutf_api/fastapi_app/app/api/v1/gaps.py
  violentutf_api/fastapi_app/app/models/gap_analysis.py
  violentutf_api/fastapi_app/app/schemas/gap_schemas.py
  violentutf_api/fastapi_app/app/services/asset_management/compliance_checker.py
  violentutf_api/fastapi_app/app/services/asset_management/documentation_analyzer.py
  violentutf_api/fastapi_app/app/services/asset_management/gap_analyzer.py
  violentutf_api/fastapi_app/app/services/asset_management/gap_prioritizer.py
  violentutf_api/fastapi_app/app/services/asset_management/orphaned_detector.py
  violentutf_api/fastapi_app/tests/conftest.py
  violentutf_api/fastapi_app/tests/test_api_integration.py
  violentutf_api/fastapi_app/tests/test_asset_service.py
  violentutf_api/fastapi_app/tests/test_audit_service.py
  violentutf_api/fastapi_app/tests/test_conflict_resolution_service.py
  violentutf_api/fastapi_app/tests/test_discovery_integration_service.py
  violentutf_api/fastapi_app/tests/test_migrations.py
  violentutf_api/fastapi_app/tests/test_models.py
  violentutf_api/fastapi_app/tests/test_performance.py
  violentutf_api/fastapi_app/tests/test_runner_assets.py
  violentutf_api/fastapi_app/tests/test_validation_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

implemented #281 (#287)
  docs/development/issue_281/issue_281_plan.md
  docs/development/issue_281/issue_281_tests.md
  tests/integration/test_issue_124_ollegen1_integration.py
  tests/test_issue_280_asset_api.py
  tests/test_issue_280_asset_models.py
  tests/test_issue_280_asset_services.py
  tests/test_issue_281_api_integration.py
  tests/test_issue_281_compliance_checker.py
  tests/test_issue_281_documentation_analyzer.py
  tests/test_issue_281_e2e_gap_analysis.py
  tests/test_issue_281_gap_analyzer.py
  tests/test_issue_281_gap_prioritizer.py
  tests/test_issue_281_orphaned_detector.py
  violentutf_api/fastapi_app/app/api/v1/gaps.py
  violentutf_api/fastapi_app/app/models/gap_analysis.py
  violentutf_api/fastapi_app/app/schemas/gap_schemas.py
  violentutf_api/fastapi_app/app/services/asset_management/compliance_checker.py
  violentutf_api/fastapi_app/app/services/asset_management/documentation_analyzer.py
  violentutf_api/fastapi_app/app/services/asset_management/gap_analyzer.py
  violentutf_api/fastapi_app/app/services/asset_management/gap_prioritizer.py
  violentutf_api/fastapi_app/app/services/asset_management/orphaned_detector.py
  violentutf_api/fastapi_app/tests/conftest.py
  violentutf_api/fastapi_app/tests/test_api_integration.py
  violentutf_api/fastapi_app/tests/test_asset_service.py
  violentutf_api/fastapi_app/tests/test_audit_service.py
  violentutf_api/fastapi_app/tests/test_conflict_resolution_service.py
  violentutf_api/fastapi_app/tests/test_discovery_integration_service.py
  violentutf_api/fastapi_app/tests/test_migrations.py
  violentutf_api/fastapi_app/tests/test_models.py
  violentutf_api/fastapi_app/tests/test_performance.py
  violentutf_api/fastapi_app/tests/test_runner_assets.py
  violentutf_api/fastapi_app/tests/test_validation_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #282
  docs/database/automation/risk-assessment-procedures.md
  docs/development/issue_282/ISSUE_282_development_report.md
  docs/development/issue_282/issue_282_plan.md
  scripts/database-automation/risk_assessment.py
  tests/issue_282_tests.md
  tests/test_issue_282_risk_engine.py
  tests/test_issue_282_risk_engine_simple.py
  tests/test_issue_282_vulnerability_service.py
  tests/test_issue_282_vulnerability_service_simple.py
  tests/test_risk_assessment_api.py
  tests/test_risk_engine.py
  tests/test_vulnerability_service.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/api/v1/risk.py
  violentutf_api/fastapi_app/app/core/risk_engine.py
  violentutf_api/fastapi_app/app/models/risk_assessment.py
  violentutf_api/fastapi_app/app/schemas/risk_schemas.py
  violentutf_api/fastapi_app/app/services/risk_assessment/vulnerability_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #282 (#289)
  docs/database/automation/risk-assessment-procedures.md
  docs/development/issue_282/ISSUE_282_development_report.md
  docs/development/issue_282/issue_282_plan.md
  scripts/database-automation/risk_assessment.py
  tests/issue_282_tests.md
  tests/test_issue_282_risk_engine.py
  tests/test_issue_282_risk_engine_simple.py
  tests/test_issue_282_vulnerability_service.py
  tests/test_issue_282_vulnerability_service_simple.py
  tests/test_risk_assessment_api.py
  tests/test_risk_engine.py
  tests/test_vulnerability_service.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/api/v1/risk.py
  violentutf_api/fastapi_app/app/core/risk_engine.py
  violentutf_api/fastapi_app/app/models/risk_assessment.py
  violentutf_api/fastapi_app/app/schemas/risk_schemas.py
  violentutf_api/fastapi_app/app/services/risk_assessment/vulnerability_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #283
  docs/.DS_Store
  docs/development/issue_283/ISSUE_283_development_report.md
  docs/development/issue_283/issue_283_plan.md
  tests/issue_283_tests.md
  tests/test_issue_283_container_monitoring.py
  tests/test_issue_283_monitoring_integration.py
  tests/test_issue_283_schema_monitoring.py
  violentutf_api/fastapi_app/app/api/v1/monitoring.py
  violentutf_api/fastapi_app/app/models/asset_inventory.py
  violentutf_api/fastapi_app/app/models/monitoring.py
  violentutf_api/fastapi_app/app/schemas/monitoring_schemas.py
  violentutf_api/fastapi_app/app/services/monitoring/__init__.py
  violentutf_api/fastapi_app/app/services/monitoring/container_monitor.py
  violentutf_api/fastapi_app/app/services/monitoring/monitoring_service.py
  violentutf_api/fastapi_app/app/services/monitoring/notifications.py
  violentutf_api/fastapi_app/app/services/monitoring/schema_monitor.py
  violentutf_api/fastapi_app/tests/test_issue_283_container_monitoring.py
  violentutf_api/fastapi_app/tests/test_issue_283_monitoring_integration.py
  violentutf_api/fastapi_app/tests/test_issue_283_schema_monitoring.py
  violentutf_api/fastapi_app/verification_round2_20250919_134806.txt
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #283 (#290)
  docs/.DS_Store
  docs/development/issue_283/ISSUE_283_development_report.md
  docs/development/issue_283/issue_283_plan.md
  tests/issue_283_tests.md
  tests/test_issue_283_container_monitoring.py
  tests/test_issue_283_monitoring_integration.py
  tests/test_issue_283_schema_monitoring.py
  violentutf_api/fastapi_app/app/api/v1/monitoring.py
  violentutf_api/fastapi_app/app/models/asset_inventory.py
  violentutf_api/fastapi_app/app/models/monitoring.py
  violentutf_api/fastapi_app/app/schemas/monitoring_schemas.py
  violentutf_api/fastapi_app/app/services/monitoring/__init__.py
  violentutf_api/fastapi_app/app/services/monitoring/container_monitor.py
  violentutf_api/fastapi_app/app/services/monitoring/monitoring_service.py
  violentutf_api/fastapi_app/app/services/monitoring/notifications.py
  violentutf_api/fastapi_app/app/services/monitoring/schema_monitor.py
  violentutf_api/fastapi_app/tests/test_issue_283_container_monitoring.py
  violentutf_api/fastapi_app/tests/test_issue_283_monitoring_integration.py
  violentutf_api/fastapi_app/tests/test_issue_283_schema_monitoring.py
  violentutf_api/fastapi_app/verification_round2_20250919_134806.txt
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #284
  tests/issue_284_tests.md
  tests/test_issue_284_asset_dashboard_api.py
  tests/test_issue_284_dashboard_components.py
  tests/test_issue_284_simple_validation.py
  violentutf/components/dashboard_components.py
  violentutf/pages/Database_Asset_Management.py
  violentutf/pages/Database_Compliance_Dashboard.py
  violentutf/pages/Database_Executive_Reports.py
  violentutf/pages/Database_Risk_Dashboard.py
  violentutf/utils/api_client.py
  violentutf/utils/dashboard_utils.py
  violentutf/utils/visualization_utils.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/api/v1/dashboard.py
  violentutf_api/fastapi_app/app/services/compliance_monitoring_service.py
  violentutf_api/fastapi_app/app/services/dashboard_metrics_service.py
  violentutf_api/fastapi_app/app/services/risk_assessment_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #284 (#291)
  tests/issue_284_tests.md
  tests/test_issue_284_asset_dashboard_api.py
  tests/test_issue_284_dashboard_components.py
  tests/test_issue_284_simple_validation.py
  violentutf/components/dashboard_components.py
  violentutf/pages/Database_Asset_Management.py
  violentutf/pages/Database_Compliance_Dashboard.py
  violentutf/pages/Database_Executive_Reports.py
  violentutf/pages/Database_Risk_Dashboard.py
  violentutf/utils/api_client.py
  violentutf/utils/dashboard_utils.py
  violentutf/utils/visualization_utils.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/api/v1/dashboard.py
  violentutf_api/fastapi_app/app/services/compliance_monitoring_service.py
  violentutf_api/fastapi_app/app/services/dashboard_metrics_service.py
  violentutf_api/fastapi_app/app/services/risk_assessment_service.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #264
  docs/development/issue_264/issue_264_plan.md
  tests/issue_264_tests.md
  tests/test_dependency_endpoints.py
  tests/test_dependency_endpoints_simple.py
  tests/test_dependency_mapping_service.py
  tests/test_dependency_models.py
  tests/test_impact_analysis_service.py
  tests/test_issue_264_integration.py
  violentutf_api/fastapi_app/app/api/endpoints/dependencies.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/db/database.py
  violentutf_api/fastapi_app/app/db/migrations/add_dependency_mapping_tables.py
  violentutf_api/fastapi_app/app/models/__init__.py
  violentutf_api/fastapi_app/app/models/dependency.py
  violentutf_api/fastapi_app/app/schemas/dependency.py
  violentutf_api/fastapi_app/app/services/dashboard_metrics_service.py
  violentutf_api/fastapi_app/app/services/dependency_mapping.py
  violentutf_api/fastapi_app/app/services/impact_analysis.py
  violentutf_api/fastapi_app/tests/conftest.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #264 (#301)
  docs/development/issue_264/issue_264_plan.md
  tests/issue_264_tests.md
  tests/test_dependency_endpoints.py
  tests/test_dependency_endpoints_simple.py
  tests/test_dependency_mapping_service.py
  tests/test_dependency_models.py
  tests/test_impact_analysis_service.py
  tests/test_issue_264_integration.py
  violentutf_api/fastapi_app/app/api/endpoints/dependencies.py
  violentutf_api/fastapi_app/app/api/routes.py
  violentutf_api/fastapi_app/app/db/database.py
  violentutf_api/fastapi_app/app/db/migrations/add_dependency_mapping_tables.py
  violentutf_api/fastapi_app/app/models/__init__.py
  violentutf_api/fastapi_app/app/models/dependency.py
  violentutf_api/fastapi_app/app/schemas/dependency.py
  violentutf_api/fastapi_app/app/services/dashboard_metrics_service.py
  violentutf_api/fastapi_app/app/services/dependency_mapping.py
  violentutf_api/fastapi_app/app/services/impact_analysis.py
  violentutf_api/fastapi_app/tests/conftest.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets

Implement #265
  .github/workflows/config-validation.yml
  docs/database/configuration-baselines.md
  docs/development/issue_265/issue_265_plan.md
  docs/development/issue_265/issue_265_tests.md
  scripts/config-management/baseline_generator.py
  scripts/config-management/extract_postgresql_config.py
  tests/test_issue_265_alerting.py
  tests/test_issue_265_audit_trails.py
  tests/test_issue_265_config_baseline.py
  tests/test_issue_265_drift_detector.py
  tests/test_issue_265_json_validation.py
  violentutf_api/fastapi_app/app/services/config_monitoring.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions

Implement #265 (#302)
  .github/workflows/config-validation.yml
  docs/database/configuration-baselines.md
  docs/development/issue_265/issue_265_plan.md
  docs/development/issue_265/issue_265_tests.md
  scripts/config-management/baseline_generator.py
  scripts/config-management/extract_postgresql_config.py
  tests/test_issue_265_alerting.py
  tests/test_issue_265_audit_trails.py
  tests/test_issue_265_config_baseline.py
  tests/test_issue_265_drift_detector.py
  tests/test_issue_265_json_validation.py
  violentutf_api/fastapi_app/app/services/config_monitoring.py
Due: check-regex-patterns, no-print-statements, no-hardcoded-secrets, check-github-actions

Implement #266
  docs/development/issue_266/issue_266_plan.md
  scripts/config-management/compare_environments.py
  scripts/config-management/core/__init__.py
  scripts/config-management/deploy_config.py
  scripts/config-management/discover_configurations.py
  scripts/config-management/monitor_config_drift.py
  scripts/config-management/requirements.txt
  scripts/config-management/validate_consistency.py
  tests/issue_266_tests.md
  tests/test_issue_266_config_management.py
  tests/test_issue_266_integration.py
  tests/test_issue_266_performance.py
  tests/test_issue_266_security.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #266 (#304)
  docs/development/issue_266/issue_266_plan.md
  scripts/config-management/compare_environments.py
  scripts/config-management/core/__init__.py
  scripts/config-management/deploy_config.py
  scripts/config-management/discover_configurations.py
  scripts/config-management/monitor_config_drift.py
  scripts/config-management/requirements.txt
  scripts/config-management/validate_consistency.py
  tests/issue_266_tests.md
  tests/test_issue_266_config_management.py
  tests/test_issue_266_integration.py
  tests/test_issue_266_performance.py
  tests/test_issue_266_security.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement issue #267
  .gitignore
  docs/development/issue_267/ISSUE_267_development_report.md
  scripts/__init__.py
  scripts/backup_management/__init__.py
  scripts/backup_management/configure_retention.py
  tests/issue_267_tests.md
  tests/test_issue_267_backup_system_core.py
  tests/test_issue_267_postgresql_backup.py
  tests/test_issue_267_sqlite_backup.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement issue #267 (#305)
  .gitignore
  docs/development/issue_267/ISSUE_267_development_report.md
  scripts/__init__.py
  scripts/backup_management/__init__.py
  scripts/backup_management/configure_retention.py
  tests/issue_267_tests.md
  tests/test_issue_267_backup_system_core.py
  tests/test_issue_267_postgresql_backup.py
  tests/test_issue_267_sqlite_backup.py
Due: check-regex-patterns, no-hardcoded-secrets

Implement #322
  docs/development/issue_322/BACKUP_PROCEDURES.md
  docs/development/issue_322/ISSUE_322_development_report.md
  docs/development/issue_322/issue_322_plan.md
  reports/backup_verification.txt
  reports/duckdb_inventory.json
  reports/restoration_test_results.json
  scripts/migration-management/analyze_duckdb_inventory.py
  scripts/migration-management/backup_duckdb_files.sh
  scripts/migration-management/test_backup_restoration.py
  scripts/migration-management/verify_backup_integrity.sh
Due: check-regex-patterns, no-hardcoded-secrets
